<div class="block-forms">
    <div class="container">
        <div class="block-forms__content">
            <form data-dev data-thanks="#thanks" action="#" class="form">
                <div class="form__top">
                    <div class="form__title">
                        Получайте новые статьи первыми
                    </div>
                    <p>
                        Подпишитесь на рассылку Talmay — только полезные<br> материалы, без спама
                    </p>
                </div>
                <div class="form__body">
                    <div class="form__inputs">
                        <div class="form__input">
                            <div class="form__placeholder">E-mail</div>
                            <input data-required autocomplete="off" type="text" name="form[]" data-error="Ошибка"
                                placeholder="E-mail" class="input">
                        </div>
                        <button type="submit" class="btn btn-grey btn-small">
                            <span>Отправить</span>
                        </button>
                    </div>
                    <div class="form__bottom">
                        <div class="form__text">
                            Отправляя форму, вы соглашаетесь с политикой обработки персональных данных
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="thanks" class="block-forms-thanks">
    <div class="block-forms-thanks__icon">
        <svg aria-hidden="true" width="15" height="11">
            <use xlink:href="img/sprite.svg#check1"></use>
        </svg>
    </div>
    <p>
        Вы успешно подписались на наши обновления
    </p>
</div>