<!--Оставить заявку-->
<div id="contact-us" aria-hidden="true" class="popup popup-forms">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup-forms__body">
                <div class="popup-forms__top">
                    <div class="popup-forms__titles">
                        <div class="popup-forms__title">
                            Связаться с нами
                        </div>
                        <p>
                            Подберём программу под вашу команду и задачи предприятия
                        </p>
                    </div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="14" height="14">
                            <use xlink:href="img/sprite.svg#close"></use>
                        </svg>
                    </div>
                </div>
                <form action="#" class="form">
                    <div class="form__inputs">
                        <div class="form__input">
                            <div class="form__placeholder">Имя</div>
                            <input data-required autocomplete="off" type="text" name="form[]" data-error="Ошибка"
                                placeholder="Имя" class="input">
                        </div>
                        <div class="form__input">
                            <div class="form__placeholder">Телефон / E-mail</div>
                            <input data-required autocomplete="off" type="text" name="form[]" data-error="Ошибка"
                                placeholder="Телефон / E-mail" class="input">
                        </div>
                        <div class="form__input">
                            <div class="form__placeholder">Сообщение</div>
                            <textarea data-required placeholder="Сообщение" data-error="Ошибка"
                                class="input textarea"></textarea>
                        </div>
                    </div>
                    <div class="form__bottom">
                        <div class="form__text">
                            Отправляя форму, вы соглашаетесь с политикой обработки персональных данных
                        </div>
                        <button type="submit" class="btn btn-red btn-small">
                            <span>Отправить заявку</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>