<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&amp;lang=ru_RU&amp;_v=20240623012845"></script>
<script src="js/swiper-10.2.0.min.js"></script>
<script src="js/dynamic_adapt.js"></script>
<script src="js/scripts.js"></script>