<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Комплексная лаборатория</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <!--Хлебные крошки-->
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="home-icon">
                                    <svg aria-hidden="true" width="18" height="19">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </div>
                                <span>Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Решения</a>
                        </li>
                        <li><span>Комплексная лаборатория</span></li>
                    </ul>
                </div>
            </div>

            <!--Главный экран Комплексная лаборатория-->
            <div class="block-intro-complex">
                <div class="block-intro-complex__bg1">
                    <img src="img/image34.png" alt="" class="">
                </div>
                <div class="container">
                    <div class="block-intro-complex__content">
                        <div class="block-intro-complex__body">
                            <div class="block-intro-complex__top">
                                <h1 class="title1">
                                    Комплексная лаборатория
                                </h1>
                                <p>
                                    Готовое решение для оперативного и систематического анализа масел и рабочих
                                    жидкостей на предприятии
                                </p>
                            </div>
                            <a href="./" data-popup="#contact-us" class="btn btn-red btn-small">
                                <span>Запросить стоимость</span>
                            </a>
                        </div>
                        <div class="block-intro-complex__text">
                            <p>
                                Выбор крупнейших предприятий Казахстана
                            </p>
                            <img src="img/icons/icon2.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-complex-benefits block1">
                <div class="container2">
                    <div class="block-complex-benefits__content">
                        <div class="block-complex-benefits__column">
                            <div class="block-complex-benefits__text">
                                <p>
                                    Решение объединяет профессиональные приборы ведущих производителей в области анализа
                                    масел и промышленной диагностики, позволяя выполнять ключевые исследования без
                                    передачи проб во внешние лаборатории и ожидания результатов.
                                </p>
                            </div>
                            <svg aria-hidden="true" width="145" height="42" class="desc">
                                <use xlink:href="img/sprite.svg#arrow6"></use>
                            </svg>
                            <svg aria-hidden="true" width="85" height="122" class="mob">
                                <use xlink:href="img/sprite.svg#arrow7"></use>
                            </svg>
                        </div>
                        <div class="block-complex-benefits__image">
                            <img loading="lazy" src="img/image35.png" alt="">
                        </div>
                        <div class="block-complex-benefits__column column-bottom">
                            <svg aria-hidden="true" width="148" height="42" class="desc">
                                <use xlink:href="img/sprite.svg#arrow6"></use>
                            </svg>
                            <svg aria-hidden="true" width="85" height="122" class="mob">
                                <use xlink:href="img/sprite.svg#arrow7"></use>
                            </svg>
                            <div class="block-complex-benefits__text">
                                <p>
                                    Спектрометрический анализ определяет элементы износа, присадки и загрязнения,
                                    счетчик частиц контролирует промышленную чистоту масла, вискозиметр оценивает
                                    изменение рабочих свойств жидкости, а анализатор ферромагнитного износа помогает
                                    выявлять развитие механического износа узлов.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-base-education block-complex-descr block3">
                <div class="container2">
                    <div class="block-base-education__body">
                        <div class="block-base-education__column">
                            <img loading="lazy" src="img/icons/icon3.svg" alt="" class="block-base-education__logo">
                            <div class="block-base-education__item">
                                <div class="block-base-education__titles">
                                    <p>
                                        Все результаты автоматически собираются в единой автономной ЛИМС-системе,
                                        которая хранит историю анализов, формирует отчеты, отслеживает тренды изменения
                                        параметров и помогает принимать решения в рамках программ предиктивного
                                        обслуживания.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-base-education__column">
                            <img loading="lazy" src="img/icons/icon4.svg" alt="" class="block-base-education__logo">
                            <div class="block-base-education__item">
                                <div class="block-base-education__titles">
                                    <p>
                                        Это не просто набор приборов – это полноценный диагностический центр на
                                        территории предприятия зказчика, который превращает данные анализа масла в
                                        инструмент управления надежностью оборудования и предупреждения рисков.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Преимущества решения-->
            <div class="block-complex-benefits2 block1">
                <div class="container2">
                    <h2 class="title2">Преимущества решения</h2>
                    <div class="block-complex-benefits2__body">
                        <div class="block-complex-benefits2__slider swiper">
                            <div class="block-complex-benefits2__wrapper swiper-wrapper">
                                <div class="block-complex-benefits2__slide swiper-slide">
                                    <div class="block-complex-benefits2__column">
                                        <div class="block-complex-benefits2__icon">
                                            <svg aria-hidden="true" width="38" height="32">
                                                <use xlink:href="img/sprite.svg#chart"></use>
                                            </svg>
                                        </div>
                                        <div class="block-complex-benefits2__item">
                                            <div class="block-complex-benefits2__title">
                                                Снижение аварийности
                                            </div>
                                            <p>
                                                Раннее выявление ненормативного износа оборудования
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-complex-benefits2__slide swiper-slide">
                                    <div class="block-complex-benefits2__column">
                                        <div class="block-complex-benefits2__icon">
                                            <svg aria-hidden="true" width="34" height="38">
                                                <use xlink:href="img/sprite.svg#shield2"></use>
                                            </svg>
                                        </div>
                                        <div class="block-complex-benefits2__item">
                                            <div class="block-complex-benefits2__title">
                                                Контроль надёжности
                                            </div>
                                            <p>
                                                Анализ загрязнений и рабочих свойств масла
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-complex-benefits2__slide swiper-slide">
                                    <div class="block-complex-benefits2__column">
                                        <div class="block-complex-benefits2__icon">
                                            <svg aria-hidden="true" width="38" height="34">
                                                <use xlink:href="img/sprite.svg#chart-bar"></use>
                                            </svg>
                                        </div>
                                        <div class="block-complex-benefits2__item">
                                            <div class="block-complex-benefits2__title">
                                                Экономия на обслуживании
                                            </div>
                                            <p>
                                                Оценка ресурса масла и его эффективности
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-complex-benefits2__slide swiper-slide">
                                    <div class="block-complex-benefits2__column">
                                        <div class="block-complex-benefits2__icon">
                                            <svg aria-hidden="true" width="36" height="40">
                                                <use xlink:href="img/sprite.svg#timer2"></use>
                                            </svg>
                                        </div>
                                        <div class="block-complex-benefits2__item">
                                            <div class="block-complex-benefits2__title">
                                                Максимальная оперативность
                                            </div>
                                            <p>
                                                Результаты на месте эксплуатации техники
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-complex-benefits2__slide swiper-slide">
                                    <div class="block-complex-benefits2__column">
                                        <div class="block-complex-benefits2__icon">
                                            <svg aria-hidden="true" width="38" height="34">
                                                <use xlink:href="img/sprite.svg#slider"></use>
                                            </svg>
                                        </div>
                                        <div class="block-complex-benefits2__item">
                                            <div class="block-complex-benefits2__title">
                                                Простота внедрения
                                            </div>
                                            <p>
                                                Приборы не требуют специальной квалификации
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="nav-slider-arrow arrow-prev complex-benefits-arrow-prev">
                            <svg aria-hidden="true" width="19" height="11">
                                <use xlink:href="img/sprite.svg#arrow3"></use>
                            </svg>
                        </button>
                        <button type="button" class="nav-slider-arrow arrow-next complex-benefits-arrow-next">
                            <svg aria-hidden="true" width="19" height="11">
                                <use xlink:href="img/sprite.svg#arrow3"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!--Стандартный комплект поставки-->
            <div class="block-complex-equipment block1">
                <div class="container2">
                    <div class="block-descr">
                        <h2 class="title2">
                            Стандартный комплект поставки
                        </h2>
                        <div class="block-descr__text">
                            <p>
                                Полностью укомплектованное решение для профессионального анализа масел и управления
                                надежностью оборудования.
                            </p>
                        </div>
                    </div>
                    <div class="block-complex-equipment__cards">
                        <div class="card-product2">
                            <div class="card-product2__pic1">
                                <img src="img/products/image13.png" alt="">
                            </div>
                            <div class="card-product2__item">
                                <div class="card-product2__top">
                                    <div class="card-product2__title">
                                        Спектрометр для анализа масла
                                    </div>
                                    <p>
                                        24 элемента · ASTM D 6595, D 6728 · 2–5 мин · объём пробы 2 мл
                                    </p>
                                </div>
                                <a href="./" target="_blank" class="link link2">
                                    <span>Подробнее</span>
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="card-product2">
                            <div class="card-product2__pic1">
                                <img src="img/products/image13.png" alt="">
                            </div>
                            <div class="card-product2__item">
                                <div class="card-product2__top">
                                    <div class="card-product2__title">
                                        Кинематический вискозиметр
                                    </div>
                                    <p>
                                        Вязкость 4–1200 сСт, 40–100°C · ASTM D 7279 · 1–3 мин · от 0,3 мл
                                    </p>
                                </div>
                                <a href="./" target="_blank" class="link link2">
                                    <span>Подробнее</span>
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="card-product2">
                            <div class="card-product2__pic1">
                                <img src="img/products/image13.png" alt="">
                            </div>
                            <div class="card-product2__item">
                                <div class="card-product2__top">
                                    <div class="card-product2__title">
                                        Счётчик частиц в жидкостях
                                    </div>
                                    <p>
                                        Промышленная чистота · ISO 4406, NAS 1638, ГОСТ 17216 · 5–10 мин · 10–30 мл
                                    </p>
                                </div>
                                <a href="./" target="_blank" class="link link2">
                                    <span>Подробнее</span>
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="card-product2">
                            <div class="card-product2__pic1">
                                <img src="img/products/image13.png" alt="">
                            </div>
                            <div class="card-product2__item">
                                <div class="card-product2__top">
                                    <div class="card-product2__title">
                                        Анализатор ферромагнитного износа
                                    </div>
                                    <p>
                                        Анализатор ферромагнитного износа
                                    </p>
                                </div>
                                <a href="./" target="_blank" class="link link2">
                                    <span>Подробнее</span>
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="card-product2">
                            <div class="card-product2__pic1">
                                <img src="img/products/image13.png" alt="">
                            </div>
                            <div class="card-product2__item">
                                <div class="card-product2__top">
                                    <div class="card-product2__title">
                                        Дополнительное оборудование
                                    </div>
                                    <p>
                                        ПК, ИБП, роутер, сервер, ПО ЛИМС, инструкции RU/EN
                                    </p>
                                </div>
                                <a href="./" target="_blank" class="link link2">
                                    <span>Подробнее</span>
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>