<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Обучение</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <!--Хлебные крошки-->
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="home-icon">
                                    <svg aria-hidden="true" width="18" height="19">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </div>
                                <span>Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Решения
                            </a>
                        </li>
                        <li><span>Обучение по международным стандартам</span></li>
                    </ul>
                </div>
            </div>

            <!--Обучение-->
            <div class="block-laboratory block-main-education">
                <div class="container">
                    <div class="block-laboratory__content">
                        <div class="block-laboratory__left">
                            <div class="block-laboratory__image">
                                <img loading="lazy" src="img/image23.png" alt="">
                            </div>
                            <div class="block-laboratory__item">
                                <h2 class="title1">
                                    Обучение по международным стандартам
                                </h2>
                                <p>
                                    Надёжность оборудования начинается с людей, принимающих правильные решения каждый
                                    день
                                </p>
                                <a href="./" class="btn btn-blue btn-small">
                                    <span>Оставить заявку</span>
                                </a>
                            </div>
                        </div>
                        <div class="block-laboratory__right">
                            <div class="block-laboratory__image">
                                <img loading="lazy" src="img/image7.png" alt="">
                                <img loading="lazy" src="img/image24.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Основа образовательных программ-->
            <div class="block-base-education block3">
                <div class="container2">
                    <h2 class="title2">
                        Основа образовательных программ
                    </h2>
                    <div class="block-base-education__body">
                        <div class="block-base-education__column">
                            <img loading="lazy" src="img/partners/noria2.png" alt="" class="block-base-education__logo">
                            <div class="block-base-education__item">
                                <div class="block-base-education__titles">
                                    <div class="block-base-education__title">
                                        Партнёрство Noria Corporation
                                    </div>
                                    <p>
                                        Более 25 лет формирует отраслевые стандарты в области смазки, анализа масел и
                                        надёжности оборудования. Более 103 000 специалистов прошли обучение по всему
                                        миру.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-base-education__column">
                            <img loading="lazy" src="img/partners/icml.png" alt="" class="block-base-education__logo">
                            <div class="block-base-education__item">
                                <div class="block-base-education__titles">
                                    <div class="block-base-education__title">
                                        Сертификат ICML
                                    </div>
                                    <p>
                                        Международный орган, устанавливающий стандарты компетенций в области машинной
                                        смазки. Программы соответствуют требованиям ICML и готовят специалистов к работе
                                        по единым международным подходам.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Что даёт обучение-->
            <div class="block-training-offers block1">
                <div class="container2">
                    <h2 class="title2">
                        Что даёт обучение
                    </h2>
                    <div class="block-training-offers__body">
                        <div class="block-training-offers__column">
                            <div class="block-training-offers__icon">
                                <svg aria-hidden="true" width="37" height="41">
                                    <use xlink:href="img/sprite.svg#exploitation2"></use>
                                </svg>
                            </div>
                            <div class="block-training-offers__item">
                                <div class="block-training-offers__number">01</div>
                                <div class="block-training-offers__titles">
                                    <div class="block-training-offers__title">
                                        Системные знания
                                    </div>
                                    <p>
                                        Единый подход в команде – от мастеров смазки до руководителей, отвечающих за
                                        надёжность
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-training-offers__column">
                            <div class="block-training-offers__icon">
                                <svg aria-hidden="true" width="28" height="19">
                                    <use xlink:href="img/sprite.svg#check1"></use>
                                </svg>
                            </div>
                            <div class="block-training-offers__item">
                                <div class="block-training-offers__number">02</div>
                                <div class="block-training-offers__titles">
                                    <div class="block-training-offers__title">
                                        Практические навыки
                                    </div>
                                    <p>
                                        Реальные производственные кейсы, типовые ошибки и конкретные способы их
                                        предотвращения
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-training-offers__column">
                            <div class="block-training-offers__icon">
                                <svg aria-hidden="true" width="38" height="38">
                                    <use xlink:href="img/sprite.svg#russification2"></use>
                                </svg>
                            </div>
                            <div class="block-training-offers__item">
                                <div class="block-training-offers__number">03</div>
                                <div class="block-training-offers__titles">
                                    <div class="block-training-offers__title">
                                        Международные стандарты
                                    </div>
                                    <p>
                                        Программы соответствуют требованиям ICML, признанным в промышленности по всему
                                        миру
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-training-offers__column">
                            <div class="block-training-offers__icon">
                                <svg aria-hidden="true" width="34" height="32">
                                    <use xlink:href="img/sprite.svg#online"></use>
                                </svg>
                            </div>
                            <div class="block-training-offers__item">
                                <div class="block-training-offers__number">04</div>
                                <div class="block-training-offers__titles">
                                    <div class="block-training-offers__title">
                                        Гибкие форматы
                                    </div>
                                    <p>
                                        Онлайн, для отдельных специалистов или целых команд, с учётом отрасли и уровня
                                        подготовки
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Форматы обучения-->
            <div class="block-results block-format-ed block1">
                <div class="container2">
                    <div class="block-title">
                        <div class="block-title__col">
                            <h2 class="title2">Форматы обучения</h2>
                        </div>
                    </div>
                    <div class="block-results__body">
                        <div class="block-results__column">
                            <div class="block-results__icon">
                                <svg aria-hidden="true" width="34" height="32">
                                    <use xlink:href="img/sprite.svg#online"></use>
                                </svg>
                            </div>
                            <div class="block-results__item">
                                <div class="block-results__title">
                                    Онлайн
                                </div>
                                <p>
                                    Доступно из любой точки, встраивается в рабочий график без остановки производства
                                </p>
                            </div>
                        </div>
                        <div class="block-results__column">
                            <div class="block-results__icon">
                                <svg aria-hidden="true" width="38" height="34">
                                    <use xlink:href="img/sprite.svg#company"></use>
                                </svg>
                            </div>
                            <div class="block-results__item">
                                <div class="block-results__title">
                                    Для команды
                                </div>
                                <p>
                                    Программы для целых отделов с учётом отрасли, оборудования и уровня подготовки
                                </p>
                            </div>
                        </div>
                        <div class="block-results__column">
                            <div class="block-results__icon">
                                <svg aria-hidden="true" width="26" height="32">
                                    <use xlink:href="img/sprite.svg#student"></use>
                                </svg>
                            </div>
                            <div class="block-results__item">
                                <div class="block-results__title">
                                    Для специалиста
                                </div>
                                <p>
                                    Индивидуальный формат под конкретного сотрудника и его задачи
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Баннер-->
            <div class="block-banner block3">
                <div class="container2">
                    <div class="block-banner__content">
                        <div class="block-banner__titles">
                            <h2 class="title2">
                                Программы обучения
                            </h2>
                            <p>
                                Подробная информация о курсах, форматах и текущих программах – на образовательном
                                ресурсе Noria Kazakhstan:
                            </p>
                        </div>
                        <a href="./" class="btn btn-white btn-small">
                            <span>На сайт noria.kz</span>
                            <span class="btn__arrow">
                                <svg aria-hidden="true" width="18" height="15">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>