<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Оборудование лаборатории</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <!--Хлебные крошки-->
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="home-icon">
                                    <svg aria-hidden="true" width="18" height="19">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </div>
                                <span>Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Лаборатория
                            </a>
                        </li>
                        <li><span>Оборудование лаборатории</span></li>
                    </ul>
                </div>
            </div>

            <!--Заголовок Оборудование лаборатории-->
            <div class="block-title block-title-other2 block2">
                <div class="container">
                    <div class="block-title__col">
                        <h1 class="title1">
                            Оборудование лаборатории
                        </h1>
                        <p>
                            Лаборатория «Талмай» оснащена передовым оборудованием для анализа смазочных материалов и
                            рабочих жидкостей. Приборы адаптированы под любые виды проб – от жидких до пастообразных.
                        </p>
                    </div>
                </div>
            </div>

            <!--Оборудование лаборатории-->
            <div class="block-laboratory-equipment block3">
                <div class="container2">
                    <h2 class="title2">Приборы для анализа ГСМ</h2>
                    <div class="block-laboratory-equipment__cards">
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image12.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Спектрометр</div>
                                <div class="card-device__title">
                                    DITEE ОА800М
                                </div>
                                <p>
                                    Атомно-эмиссионная спектрометрия с вращающимся дисковым электродом
                                </p>
                                <div class="card-device__text">
                                    Метод: Элементный анализ
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image17.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Вискозиметр</div>
                                <div class="card-device__title">
                                    Biolab Viscol-10AS
                                </div>
                                <p>
                                    Автоматический кинематический вискозиметр
                                </p>
                                <div class="card-device__text">
                                    Метод: Кинематическая вязкость
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image20.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Вискозиметр</div>
                                <div class="card-device__title">
                                    SHELI SL-SV4A
                                </div>
                                <p>
                                    Портативный вискозиметр для полевого применения
                                </p>
                                <div class="card-device__text">
                                    Метод: Кинематическая вязкость
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image21.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Титратор</div>
                                <div class="card-device__title">
                                    Titrino Metrohm
                                </div>
                                <p>
                                    Определение TBN, TAN, pH
                                </p>
                                <div class="card-device__text">
                                    Метод: Потенциометрическое титрование
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image22.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">ИК-спектрометр</div>
                                <div class="card-device__title">
                                    ИнфраЛЮМ ФТ-08
                                </div>
                                <p>
                                    Инфракрасная Фурье-спектроскопия
                                </p>
                                <div class="card-device__text">
                                    Метод: FTIR-спектроскопия
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image23.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Титратор</div>
                                <div class="card-device__title">
                                    Titrino Metrohm 756 KF
                                </div>
                                <p>
                                    Определение содержания воды
                                </p>
                                <div class="card-device__text">
                                    Метод: Титрование по К. Фишеру
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image23.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Титратор</div>
                                <div class="card-device__title">
                                    Karl Fischer Metrohm 756 KF
                                </div>
                                <p>
                                    Определение содержания воды
                                </p>
                                <div class="card-device__text">
                                    Метод: Титрование по К. Фишеру
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image24.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Счётчик частиц</div>
                                <div class="card-device__title">
                                    PAMAS SBSS
                                </div>
                                <p>
                                    Оптический сенсор для класса чистоты
                                </p>
                                <div class="card-device__text">
                                    Метод: Лазерное определение частиц
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image25.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Фильтр. установка</div>
                                <div class="card-device__title">
                                    Фильтр. установка С300
                                </div>
                                <p>
                                    Механические примеси под давлением
                                </p>
                                <div class="card-device__text">
                                    Метод: Анализ загрязнённости
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image26.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Титратор</div>
                                <div class="card-device__title">
                                    MPC-Color
                                </div>
                                <p>
                                    Определение лакообразования
                                </p>
                                <div class="card-device__text">
                                    Метод: Мембранная колориметрия
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image27.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Анализатор</div>
                                <div class="card-device__title">
                                    Fluitec Ruler CE520
                                </div>
                                <p>
                                    Содержание антиоксидантов
                                </p>
                                <div class="card-device__text">
                                    Метод: Вольтамперометрия
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image28.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Анализатор</div>
                                <div class="card-device__title">
                                    JF12579A
                                </div>
                                <p>
                                    Определение вспениваемости масел
                                </p>
                                <div class="card-device__text">
                                    Метод: -
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image29.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Анализатор</div>
                                <div class="card-device__title">
                                    JF0308A
                                </div>
                                <p>
                                    Определение деаэрационных свойств масел
                                </p>
                                <div class="card-device__text">
                                    Метод: -
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image30.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Анализатор</div>
                                <div class="card-device__title">
                                    JF11143A
                                </div>
                                <p>
                                    Определение антикоррозионных свойств масел
                                </p>
                                <div class="card-device__text">
                                    Метод: -
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image31.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Анализатор</div>
                                <div class="card-device__title">
                                    JF7305
                                </div>
                                <p>
                                    Определение деэмульгирующей способности масел
                                </p>
                                <div class="card-device__text">
                                    Метод: -
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image32.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Анализатор</div>
                                <div class="card-device__title">
                                    Biolab Pasol 10
                                </div>
                                <p>
                                    Окислительная стабильность масел
                                </p>
                                <div class="card-device__text">
                                    Метод: RPVOT
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image33.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Плитка</div>
                                <div class="card-device__title">
                                    ZNCLBS1180
                                </div>
                                <p>
                                    Испытания масел и анализ нефтепродуктов
                                </p>
                                <div class="card-device__text">
                                    Метод: -
                                </div>
                            </div>
                        </a>
                        <a href="./" class="card-device">
                            <div class="card-device__image">
                                <img loading="lazy" src="img/products/image34.png" alt="">
                            </div>
                            <div class="card-device__item">
                                <div class="card-device__badge">Анализатор</div>
                                <div class="card-device__title">
                                    Анализатор закр. тигля
                                </div>
                                <p>
                                    Определение температуры вспышки
                                </p>
                                <div class="card-device__text">
                                    Метод: Температура вспышки
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>