<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <!--Главный блок-->
            <div class="block-intro">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="block-intro-left">
                            <img src="img/bg1.webp" alt="" class="block-intro-left__bg1">
                            <div class="block-intro-left__body">
                                <div class="block-intro-left__logo">
                                    <img src="img/icons/logo2.svg" alt="">
                                </div>
                                <h1 class="title1">
                                    Лабораторный анализ и контроль качества масел и рабочих жидкостей
                                </h1>
                                <div class="block-intro-left__bottom">
                                    <a href="./" class="btn btn-red btn-large">
                                        <span>Каталог</span>
                                        <span class="btn__arrow">
                                            <svg aria-hidden="true" width="18" height="15">
                                                <use xlink:href="img/sprite.svg#arrow2"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <div class="block-intro-left__descr">
                                        <span>Профессиональное<br> качество</span>
                                        <img src="img/icons/icon1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-intro-right">
                            <div class="block-intro-right__slider swiper">
                                <div class="block-intro-right__wrapper swiper-wrapper">
                                    <a href="./" class="block-intro-right__slide swiper-slide">
                                        <div style="background: #f00;" class="block-intro-right__circle1"></div>
                                        <div class="block-intro-right__title">
                                            Качественное<br> оборудование
                                        </div>
                                        <img src="img/image1.webp" alt="">
                                    </a>
                                    <a href="./" class="block-intro-right__slide swiper-slide">
                                        <div style="background: #f00;" class="block-intro-right__circle1"></div>
                                        <div class="block-intro-right__title">
                                            Качественное<br> оборудование
                                        </div>
                                        <img src="img/image1.webp" alt="">
                                    </a>
                                    <a href="./" class="block-intro-right__slide swiper-slide">
                                        <div style="background: #f00;" class="block-intro-right__circle1"></div>
                                        <div class="block-intro-right__title">
                                            Качественное<br> оборудование
                                        </div>
                                        <img src="img/image1.webp" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fraction-slider">
                                1 из 3
                            </div>
                            <div class="nav-slider">
                                <button type="button" class="nav-slider-arrow arrow-prev block-intro-arrow-prev">
                                    <svg aria-hidden="true" width="19" height="11">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                                <button type="button" class="nav-slider-arrow arrow-next block-intro-arrow-next">
                                    <svg aria-hidden="true" width="19" height="11">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Партнеры-->
            <div class="block-partners">
                <div class="container">
                    <h2 class="title2">Партнеры</h2>
                    <div class="block-partners__body">
                        <div class="block-partners__column">
                            <img loading="lazy" src="img/partners/noria.webp" alt="">
                        </div>
                        <div class="block-partners__column">
                            <img loading="lazy" src="img/partners/pamas.webp" alt="">
                        </div>
                        <div class="block-partners__column">
                            <img loading="lazy" src="img/partners/biolab.webp" alt="">
                        </div>
                        <div class="block-partners__column">
                            <img loading="lazy" src="img/partners/ditee.webp" alt="">
                        </div>
                        <div class="block-partners__column">
                            <img loading="lazy" src="img/partners/sheli.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!--Почему мы?-->
            <div class="block-benefits block1">
                <div class="container">
                    <h2 class="title2">
                        Почему мы?
                    </h2>
                    <div class="block-benefits__body">
                        <div class="block-benefits__column">
                            <div class="block-benefits__top">
                                <div class="block-benefits__number">
                                    1
                                </div>
                                <div class="block-benefits__icon">
                                    <svg aria-hidden="true" width="40" height="28">
                                        <use xlink:href="img/sprite.svg#analyze"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                Анализ масла и технических жидкостей в собственной лаборатории в Алматы
                            </p>
                        </div>
                        <div class="block-benefits__column">
                            <div class="block-benefits__top">
                                <div class="block-benefits__number">
                                    2
                                </div>
                                <div class="block-benefits__icon">
                                    <svg aria-hidden="true" width="33" height="45">
                                        <use xlink:href="img/sprite.svg#solutions"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                Комплексные решения<br> для создания лабораторий<br> «под ключ»
                            </p>
                        </div>
                        <div class="block-benefits__column">
                            <div class="block-benefits__top">
                                <div class="block-benefits__number">
                                    3
                                </div>
                                <div class="block-benefits__icon">
                                    <svg aria-hidden="true" width="39" height="41">
                                        <use xlink:href="img/sprite.svg#distributer"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                Эксклюзивный дистрибьютор оборудования от ведущих брендов
                            </p>
                        </div>
                        <div class="block-benefits__column">
                            <div class="block-benefits__top">
                                <div class="block-benefits__number">
                                    4
                                </div>
                                <div class="block-benefits__icon">
                                    <svg aria-hidden="true" width="43" height="43">
                                        <use xlink:href="img/sprite.svg#study"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                Профессиональное обучение по международным программам анализа масел и надежности
                                оборудования
                            </p>
                        </div>
                        <div class="block-benefits__column">
                            <div class="block-benefits__top">
                                <div class="block-benefits__number">
                                    5
                                </div>
                                <div class="block-benefits__icon">
                                    <svg aria-hidden="true" width="44" height="44">
                                        <use xlink:href="img/sprite.svg#support"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                Сервисное сопровождение<br>
                                в Казахстане и СНГ
                            </p>
                        </div>
                        <div class="block-benefits__column">
                            <div class="block-benefits__top">
                                <div class="block-benefits__number">
                                    6
                                </div>
                                <div class="block-benefits__icon">
                                    <svg aria-hidden="true" width="42" height="34">
                                        <use xlink:href="img/sprite.svg#system"></use>
                                    </svg>
                                </div>
                            </div>
                            <p>
                                Создание и оптимизация системы смазки на предприятии (LPD)
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Каталог приборов-->
            <div class="block-catalog block2">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title2">
                            Каталог приборов
                        </h2>
                        <a href="./" class="btn btn-border btn-small">
                            <span>Смотреть всё</span>
                            <span class="btn__arrow">
                                <svg aria-hidden="true" width="18" height="15">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="block-catalog__content">
                        <div class="block-catalog__body">
                            <a href="./" class="block-catalog__column">
                                <img loading="lazy" src="img/image2.webp" alt="" class="block-catalog__pic1">
                                <div style="background: linear-gradient(180deg, rgba(119, 70, 81, 0.4) 0%, rgba(119, 70, 81, 0.4) 100%);"
                                    class="block-catalog__item">
                                    <div class="block-catalog__title">
                                        Счетчики<br> частиц PAMAS
                                    </div>
                                </div>
                            </a>
                            <a href="./" class="block-catalog__column">
                                <img loading="lazy" src="img/image3.webp" alt="" class="block-catalog__pic1">
                                <div class="block-catalog__item">
                                    <div class="block-catalog__title">
                                        Вискозиметры<br> Biolab и Sheli
                                    </div>
                                    <div class="block-catalog__bg2"></div>
                                </div>
                            </a>
                            <a href="./" class="block-catalog__column">
                                <img loading="lazy" src="img/image4.webp" alt="" class="block-catalog__pic1">
                                <div class="block-catalog__item">
                                    <div class="block-catalog__title">
                                        Спектрометры для анализа масел DITEE 
                                    </div>
                                    <div class="block-catalog__bg3"></div>
                                </div>
                            </a>
                            <a href="./" class="block-catalog__column">
                                <img loading="lazy" src="img/image5.webp" alt="" class="block-catalog__pic1">
                                <div class="block-catalog__item">
                                    <div class="block-catalog__title">
                                        Пробоотборное оборудование
                                    </div>
                                    <div class="block-catalog__bg2"></div>
                                </div>
                            </a>
                        </div>
                        <a href="./" class="btn btn-border btn-small">
                            <span>Смотреть всё</span>
                            <span class="btn__arrow">
                                <svg aria-hidden="true" width="18" height="15">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="items">
                <!-- Красный блок теперь отдельный элемент, а не псевдоэлемент -->
                <div class="red-block"></div>

                <div class="item">
                    <div class="in">1</div>
                </div>
                <div class="item">
                    <div class="in">2</div>
                </div>
                <div class="item">
                    <div class="in">3</div>
                </div>
                <div class="item">
                    <div class="in">4</div>
                </div>
            </div>
            <!--Лаборатория-->
            <div class="block-laboratory">
                <div class="container">
                    <div class="block-laboratory__content">
                        <div class="block-laboratory__left">
                            <div class="block-laboratory__image">
                                <img loading="lazy" src="img/image8.webp" alt="">
                            </div>
                            <div class="block-laboratory__item">
                                <h2 class="title1">
                                    Собственная лаборатория анализа масла в Алматы
                                </h2>
                                <a href="./" class="btn btn-border btn-large">
                                    <span>Лаборатория</span>
                                    <span class="btn__arrow">
                                        <svg aria-hidden="true" width="18" height="15">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="block-laboratory__right">
                            <div class="block-laboratory__image">
                                <img loading="lazy" src="img/image9.webp" alt="">
                                <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Заявка на анализ-->
            <div class="block-application-analysis block1">
                <div class="container">
                    <div class="block-application-analysis__content">
                        <div class="block-application-analysis__body">
                            <p>
                                С помощью анализа масла по основным критически важным параметрам наша лаборатория за 1-2
                                дня предоставит результат с выводами эксперта.<br> Это позволит техническому персоналу
                                оперативно узнать о зарождающемся дефекте и принять решение о дальнейшей эксплуатации.
                            </p>
                            <a href="./" class="btn btn-red btn-large">
                                <span class="btn__arrow">
                                    <svg aria-hidden="true" width="18" height="12">
                                        <use xlink:href="img/sprite.svg#analyse"></use>
                                    </svg>
                                </span>
                                <span>Заявка на анализ</span>
                            </a>
                        </div>
                        <img loading="lazy" src="img/image6.webp" alt="" class="block-application-analysis__pic1">
                    </div>
                </div>
            </div>

            <!--Комплексы анализа масел-->
            <div class="block-complexes block2">
                <div class="container">
                    <h2 class="title2">
                        Комплексы анализа масел
                    </h2>
                    <div class="block-complexes__body">
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(236, 61, 63, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image1.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 1
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Двигатель<br> (бензин/дизель)
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(111, 236, 61, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image2.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 2
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Газовый<br> двигатель
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(61, 213, 236, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image3.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 3
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Трансмиссия<br>
                                    и редукторы
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(236, 192, 61, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image4.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 1
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Гидравлическая<br>
                                    система
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(157, 61, 236, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image5.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 2
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Моторы<br> и насосы
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(236, 140, 61, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image6.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 3
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Холодильная<br>
                                    установка
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(61, 204, 236, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image7.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 1
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Турбина
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(61, 236, 134, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image8.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 2
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Компрессор
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-complexes__column">
                            <div style="background: rgba(236, 61, 102, 0.5);" class="block-complexes__bg"></div>
                            <img loading="lazy" src="img/products/image9.webp" alt="" class="block-complexes__pic1">
                            <div class="block-complexes__name">
                                Комплекс 3
                            </div>
                            <div class="block-complexes__bottom">
                                <div class="block-complexes__title">
                                    Смазка
                                </div>
                                <div class="block-complexes__arrow">
                                    <svg aria-hidden="true" width="20" height="12">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-intro block-intro-blue">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="block-intro-left">
                            <div style="background: #48baff;" class="block-intro-left__circle1"></div>
                            <img src="img/bg2.webp" alt="" class="block-intro-left__bg1">
                            <div class="block-intro-left__body">
                                <div class="block-intro-left__logo">
                                    <img src="img/icons/logo3.svg" alt="">
                                </div>
                                <div class="title1">
                                    Официальный партнер<br> Noria Corporation<br> в Казахстане
                                </div>
                                <div class="block-intro-left__bottom">
                                    <a href="./" class="btn btn-border btn-border-blue btn-large">
                                        <span>На сайт noria.kz</span>
                                        <span class="btn__arrow">
                                            <svg aria-hidden="true" width="18" height="15">
                                                <use xlink:href="img/sprite.svg#arrow2"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block-intro-right">
                            <div class="block-intro-right__slider swiper">
                                <div class="block-intro-right__wrapper swiper-wrapper">
                                    <a href="./" class="block-intro-right__slide swiper-slide">
                                        <div style="background: #3c588d;" class="block-intro-right__circle1"></div>
                                        <div class="block-intro-right__title">
                                            <span>Анализ масла II</span>
                                            Продвинутый курс
                                        </div>
                                        <img src="img/image7.webp" alt="">
                                    </a>
                                    <a href="./" class="block-intro-right__slide swiper-slide">
                                        <div style="background: #3c588d;" class="block-intro-right__circle1"></div>
                                        <div class="block-intro-right__title">
                                            <span>Анализ масла II</span>
                                            Продвинутый курс
                                        </div>
                                        <img src="img/image7.webp" alt="">
                                    </a>
                                    <a href="./" class="block-intro-right__slide swiper-slide">
                                        <div style="background: #3c588d;" class="block-intro-right__circle1"></div>
                                        <div class="block-intro-right__title">
                                            <span>Анализ масла II</span>
                                            Продвинутый курс
                                        </div>
                                        <img src="img/image7.webp" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fraction-slider">
                                1 из 3
                            </div>
                            <div class="nav-slider">
                                <button type="button" class="nav-slider-arrow arrow-prev block-intro-arrow-prev">
                                    <svg aria-hidden="true" width="19" height="11">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                                <button type="button" class="nav-slider-arrow arrow-next block-intro-arrow-next">
                                    <svg aria-hidden="true" width="19" height="11">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Курсы-->
            <div class="block-courses block2">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title3">
                            Обучение по международным стандартам
                        </h2>
                        <a href="./" class="btn btn-border btn-small">
                            <span>Оставить заявку</span>
                            <span class="btn__arrow">
                                <svg aria-hidden="true" width="18" height="15">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="block-courses__content">
                        <div class="block-courses__body">
                            <a href="./" class="block-courses__column">
                                <div class="block-courses__top">
                                    <div class="block-courses__name">Продвинутый курс</div>
                                    <div class="block-courses__arrow">
                                        <svg aria-hidden="true" width="22" height="22">
                                            <use xlink:href="img/sprite.svg#arrow5"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="block-courses__bottom">
                                    <div class="block-courses__title">Анализ масла II</div>
                                    <p>
                                        Продвинутые методы анализа масла для диагностики, предиктивного обслуживания и
                                        оценки эффективности программ.
                                    </p>
                                </div>
                                <img loading="lazy" src="img/icons/stamp1.svg" alt="" class="block-courses__pic1">
                            </a>
                            <a href="./" class="block-courses__column">
                                <div class="block-courses__top">
                                    <div class="block-courses__name">Базовый курс</div>
                                    <div class="block-courses__arrow">
                                        <svg aria-hidden="true" width="22" height="22">
                                            <use xlink:href="img/sprite.svg#arrow5"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="block-courses__bottom">
                                    <div class="block-courses__title">Смазывание машин I</div>
                                    <p>
                                        Основы смазки: выбор, хранение и применение материалов для повышения надежности
                                        и снижения затрат.
                                    </p>
                                </div>
                                <img loading="lazy" src="img/icons/stamp2.svg" alt="" class="block-courses__pic1">
                            </a>
                            <a href="./" class="block-courses__column">
                                <div class="block-courses__top">
                                    <div class="block-courses__name">Продвинутый курс</div>
                                    <div class="block-courses__arrow">
                                        <svg aria-hidden="true" width="22" height="22">
                                            <use xlink:href="img/sprite.svg#arrow5"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="block-courses__bottom">
                                    <div class="block-courses__title">Смазывание машин II</div>
                                    <p>
                                        Передовые практики смазки и инструменты для оптимизации процессов и снижения
                                        затрат.
                                    </p>
                                </div>
                                <img loading="lazy" src="img/icons/stamp2.svg" alt="" class="block-courses__pic1">
                            </a>
                            <div class="block-courses__column column-other">
                                <div class="block-courses__logo">
                                    <img loading="lazy" src="img/partners/icml.webp" alt="">
                                </div>
                                <ul>
                                    <li>
                                        <div class="icon-check">
                                            <svg aria-hidden="true" width="15" height="11">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Обучение по стандартам ICML
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon-check">
                                            <svg aria-hidden="true" width="15" height="11">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Для инженеров, механиков и специалистов по надежности
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon-check">
                                            <svg aria-hidden="true" width="15" height="11">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Практическая направленность и международное признание
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="./" class="btn btn-border btn-small">
                            <span>Оставить заявку</span>
                            <span class="btn__arrow">
                                <svg aria-hidden="true" width="18" height="15">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <!--Разработка программы-->
            <div class="block-program block1">
                <div class="container">
                    <div class="block-program__content">
                        <div class="block-program__left">
                            <h2 class="title1">
                                Разработка программы смазывания (LPD)
                            </h2>
                            <div class="block-program__text">
                                <p>
                                    LPD (Lubrication Program Development) - системный подход к управлению смазкой на
                                    предприятии, разработанный Noria Corporation.
                                </p>
                                <p>
                                    Talmay реализует проекты LPD в Казахстане: от оценки текущего состояния до внедрения
                                    процедур, обучения персонала и сопровождения системы.
                                </p>
                            </div>
                            <a href="./" class="btn btn-border btn-large">
                                <span>Узнать больше</span>
                                <span class="btn__arrow">
                                    <svg aria-hidden="true" width="18" height="15">
                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="block-program__right">
                            <div class="block-program__image">
                                <div class="block-program__name">
                                    Диаграмма Ascend
                                </div>
                                <img loading="lazy" src="img/chart1.webp" alt="">
                            </div>
                            <ul>
                                <li>
                                    <div class="icon-check check-white">
                                        <svg aria-hidden="true" width="15" height="11">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Международный стандарт ICML 55
                                    </p>
                                </li>
                                <li>
                                    <div class="icon-check check-white">
                                        <svg aria-hidden="true" width="15" height="11">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Повышение надежности и ресурса оборудования
                                    </p>
                                </li>
                                <li>
                                    <div class="icon-check check-white">
                                        <svg aria-hidden="true" width="15" height="11">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Cистемный и измеримый результат
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&amp;lang=ru_RU&amp;_v=20240623012845"></script>
    {% include 'blocks/scripts.njk' %}
</body>

</html>