<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Разработка программы смазывания</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <!--Хлебные крошки-->
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="home-icon">
                                    <svg aria-hidden="true" width="18" height="19">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </div>
                                <span>Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Решения
                            </a>
                        </li>
                        <li><span>Разработка программы смазывания</span></li>
                    </ul>
                </div>
            </div>

            <!--Заголовок-->
            <div class="block-title block-title-other block-title-lpd block3">
                <div class="container">
                    <div class="block-title__row">
                        <div class="block-title__col">
                            <h1 class="title1">
                                Разработка программы смазывания
                            </h1>
                            <p>
                                <span style="color:#3c588d;">Система LPD</span> (Lubrication Program Development) –
                                методология Noria
                                Corporation<br> для
                                системного управления смазкой на предприятии
                            </p>
                        </div>
                        <div class="block-title__image img-noria">
                            <img src="img/partners/noria2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!--О разработке программы смазывания-->
            <div class="block-lpd-about block1">
                <div class="container2">
                    <div class="block-lpd-about__content">
                        <div class="block-lpd-about__body">
                            <div class="block-lpd-about__column">
                                <div class="block-lpd-about__item">
                                    <div class="block-lpd-about__title">103 000+</div>
                                    <p>
                                        специалистов прошли обучение Noria по всему миру
                                    </p>
                                </div>
                            </div>
                            <div class="block-lpd-about__column">
                                <div class="block-lpd-about__item">
                                    <div class="block-lpd-about__title">40+</div>
                                    <p>
                                        факторов оценки системы смазывания
                                    </p>
                                </div>
                            </div>
                            <div class="block-lpd-about__column">
                                <div class="block-lpd-about__item">
                                    <div class="block-lpd-about__title">3</div>
                                    <p>
                                        этапа внедрения – от оценки до устойчивого результата
                                    </p>
                                </div>
                            </div>
                            <div class="block-lpd-about__column">
                                <div class="block-lpd-about__item">
                                    <div class="block-lpd-about__title">ICML 55</div>
                                    <p>
                                        международный стандарт программы LPD <a href="./">(подробнее)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-lpd-about__text">
                            <p>
                                Компания Talmay реализует проекты LPD на предприятиях: проводит оценку, разрабатывает
                                инженерные решения, внедряет процедуры, обучает персонал и сопровождает систему до
                                устойчивого результата.
                            </p>
                            <p>
                                LPD позволяет перейти от разрозненных действий к управляемой, измеримой и цифровой
                                системе, напрямую влияющей на снижение отказов и продление ресурса оборудования.
                                Методология основана на модели Ascend от Noria и стандарте ICML 55.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Оценка модели-->
            <div class="block-model-evaluation block1">
                <div class="container2">
                    <div class="block-model-evaluation__content">
                        <div class="block-model-evaluation__body">
                            <div class="block-title">
                                <div class="block-title__col">
                                    <h2 class="title2">
                                        Модель Ascend – оценка по 40+ факторам
                                    </h2>
                                    <p>
                                        100% смазываемых активов исследуются. Разрабатываются детальные процедуры,
                                        рассчитываются оптимальные объёмы и частота смазывания, оптимизируется
                                        номенклатура смазочных материалов, проектируются модификации оборудования.
                                    </p>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon-check check-white">
                                        <svg aria-hidden="true" width="15" height="11">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Международный стандарт ICML 55
                                    </p>
                                </li>
                                <li>
                                    <div class="icon-check check-white">
                                        <svg aria-hidden="true" width="15" height="11">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Повышение надежности и ресурса оборудования
                                    </p>
                                </li>
                                <li>
                                    <div class="icon-check check-white">
                                        <svg aria-hidden="true" width="15" height="11">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Cистемный и измеримый результат
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="block-model-evaluation__image">
                            <img loading="lazy" src="img/chart1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-tools block-tools-lpd">
                <div class="block-tools__column block1">
                    <div class="container2">
                        <div class="block-tools__body">
                            <div class="block-tools__top">
                                <div class="block-tools__image">
                                    <img loading="lazy" src="img/image19.png" alt="">
                                </div>
                                <div class="block-tools__item">
                                    <div class="block-tools__titles">
                                        <div class="block-tools__text text-number">
                                            1. Отправная точка
                                        </div>
                                        <div class="block-tools__title">
                                            Комплексная оценка системы смазки (LPD I)
                                        </div>
                                        <p>
                                            Формируется объективная картина текущего состояния. Осмотр оборудования и
                                            точек смазки, интервью с техническими специалистами, выездной сбор данных,
                                            отчётный день с обсуждением рекомендаций.
                                        </p>
                                    </div>
                                    <a href="./" data-popup="#contact-us" class="btn btn-red btn-small">
                                        <span>Оставить заявку</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-tools__bottoms">
                                <div class="block-tools__name">По итогам этапа:</div>
                                <div class="block-tools__bottom">
                                    <div class="block-tools__slider swiper">
                                        <div class="block-tools__wrapper swiper-wrapper">
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Детальный аналитический отчёт с приоритетами улучшений
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Рекомендации по инженерным и организационным решениям
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Доступ к платформе LubePM с предварительным планом изменений
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="nav-slider-arrow arrow-prev tools-arrow-prev">
                                        <svg aria-hidden="true" width="19" height="11">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="nav-slider-arrow arrow-next tools-arrow-next">
                                        <svg aria-hidden="true" width="19" height="11">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-tools__column block1">
                    <div class="container2">
                        <div class="block-tools__body">
                            <div class="block-tools__top">
                                <div class="block-tools__image">
                                    <img loading="lazy" src="img/image20.png" alt="">
                                </div>
                                <div class="block-tools__item">
                                    <div class="block-tools__titles">
                                        <div class="block-tools__text text-number">
                                            2. Разработка
                                        </div>
                                        <div class="block-tools__title">
                                            Инженерные решения и оптимизация (LPD II)
                                        </div>
                                        <p>
                                            100% смазываемых активов исследуются. Разрабатываются детальные процедуры,
                                            рассчитываются оптимальные объёмы и частота смазывания, оптимизируется
                                            номенклатура смазочных материалов, проектируются модификации оборудования.
                                        </p>
                                    </div>
                                    <a href="./" data-popup="#contact-us" class="btn btn-red btn-small">
                                        <span>Оставить заявку</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-tools__bottoms">
                                <div class="block-tools__name">По итогам этапа:</div>
                                <div class="block-tools__bottom">
                                    <div class="block-tools__slider swiper">
                                        <div class="block-tools__wrapper swiper-wrapper">
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Тетрадь идентификации и консолидации смазок
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Требования к модификации оборудования
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Финальные процедуры смазки – разовые и рутинные, ROI
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="nav-slider-arrow arrow-prev tools-arrow-prev">
                                        <svg aria-hidden="true" width="19" height="11">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="nav-slider-arrow arrow-next tools-arrow-next">
                                        <svg aria-hidden="true" width="19" height="11">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-tools__column block1">
                    <div class="container2">
                        <div class="block-tools__body">
                            <div class="block-tools__top">
                                <div class="block-tools__image">
                                    <img loading="lazy" src="img/image21.png" alt="">
                                </div>
                                <div class="block-tools__item">
                                    <div class="block-tools__titles">
                                        <div class="block-tools__text text-number">
                                            3. Внедрение
                                        </div>
                                        <div class="block-tools__title">
                                            Внедрение и цифровизация (LPD III)
                                        </div>
                                        <p>
                                            Переход от разработанного проекта к устойчивой работе системы: внедрение
                                            процедур в CMMS (SAP, Maximo), установка фильтров и датчиков, обучение
                                            персонала, настройка KPI и контроль устойчивости.
                                        </p>
                                    </div>
                                    <a href="./" data-popup="#contact-us" class="btn btn-red btn-small">
                                        <span>Оставить заявку</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-tools__bottoms">
                                <div class="block-tools__name">По итогам этапа:</div>
                                <div class="block-tools__bottom">
                                    <div class="block-tools__slider swiper">
                                        <div class="block-tools__wrapper swiper-wrapper">
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Интеграция с SAP, Maximo и другими CMMS
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Требования к модификации оборудования
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Финальные процедуры смазки – разовые и рутинные, ROI
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="nav-slider-arrow arrow-prev tools-arrow-prev">
                                        <svg aria-hidden="true" width="19" height="11">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="nav-slider-arrow arrow-next tools-arrow-next">
                                        <svg aria-hidden="true" width="19" height="11">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-tools__column block1 column-other">
                    <div class="container2">
                        <div class="block-tools__body">
                            <div class="block-tools__top">
                                <div class="block-tools__image">
                                    <img loading="lazy" src="img/image22.png" alt="">
                                </div>
                                <div class="block-tools__item">
                                    <div class="block-tools__titles">
                                        <div class="block-tools__title">
                                            Платформа LubePM
                                        </div>
                                        <p>
                                            Специализированная платформа Noria для управления программой смазки – Talmay
                                            настраиваети внедряет её под конкретное предприятие
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-tools__bottoms">
                                <div class="block-tools__bottom">
                                    <div class="block-tools__slider swiper">
                                        <div class="block-tools__wrapper swiper-wrapper">
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Пошаговые инструкциипо смазке с фотографиями
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Облачное хранение – доступ с ПК и мобильных устройств
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Автоматическая постановка задач и контроль выполнения
                                                </p>
                                            </div>
                                            <div class="block-tools__slide swiper-slide">
                                                <p>
                                                    Сохранность данных при сменных бригадах и большом числе точек
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="nav-slider-arrow arrow-prev tools-arrow-prev">
                                        <svg aria-hidden="true" width="19" height="11">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="nav-slider-arrow arrow-next tools-arrow-next">
                                        <svg aria-hidden="true" width="19" height="11">
                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>