<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Политика конфиденциальности</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <!--Хлебные крошки-->
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="home-icon">
                                    <svg aria-hidden="true" width="18" height="19">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </div>
                                <span>Главная</span>
                            </a>
                        </li>
                        <li><span>Политика конфиденциальности</span></li>
                    </ul>
                </div>
            </div>

            <!--Заголовок политика конфиденциальности-->
            <div class="block-title block-title-other block2">
                <div class="container">
                    <div class="block-title__col">
                        <h1 class="title1">
                            Политика конфиденциальности
                        </h1>
                        <p>
                            ТОО «TALMAY» · Последнее обновление: 2024
                        </p>
                    </div>
                </div>
            </div>

            <!--Политика конфиденциальности-->
            <div class="block-policy">
                <div class="container">
                    <div class="block-policy__content">
                        <div class="block-policy__column">
                            <div class="block-policy__title">
                                <span>1.</span>
                                Общие положения
                            </div>
                            <div class="block-policy__text">
                                <p>
                                    Настоящая политика обработки персональных данных составлена в соответствии с
                                    требованиями Закона Республики Казахстан от 21 мая 2013 года № 94-V «О персональных
                                    данных и их защите» и определяет порядок обработки персональных данных,
                                    предпринимаемых ТОО «TALMAY».
                                </p>
                                <p>
                                    Оператор ставит своей важнейшей целью соблюдение прав и свобод человека при
                                    обработке его персональных данных, в том числе защиты прав на неприкосновенность
                                    частной жизни, личную и семейную тайну.
                                </p>
                                <p>
                                    Политика применяется ко всей информации, которую Оператор может получить о
                                    посетителях веб-сайта https://talmay.kz/.
                                </p>
                            </div>
                        </div>
                        <div class="block-policy__column">
                            <div class="block-policy__title">
                                <span>2.</span>
                                Персональные данные, которые обрабатываются
                            </div>
                            <div class="block-policy__text">
                                <p>
                                    Оператор обрабатывает следующие категории персональных данных:<br>
                                    — Фамилия, имя, отчество<br>
                                    — Электронный адрес<br>
                                    — Номера телефонов<br>
                                    — Обезличенные данные о посетителях (файлы «cookie») через Яндекс.Метрику и Google
                                    Analytics
                                </p>
                            </div>
                        </div>
                        <div class="block-policy__column">
                            <div class="block-policy__title">
                                <span>3.</span>
                                Цели обработки персональных данных
                            </div>
                            <div class="block-policy__text">
                                <p>
                                    Цель обработки персональных данных — информирование пользователя посредством
                                    электронных писем, заключение и исполнение гражданско-правовых договоров.
                                </p>
                                <p>
                                    Оператор имеет право направлять уведомления о продуктах и услугах. От получения
                                    сообщений можно отказаться, направив письмо на mail@talmay.kz с пометкой «Отказ от
                                    уведомлений».
                                </p>
                                <p>
                                    Обезличенные данные служат для улучшения качества сайта и его содержания.
                                </p>
                            </div>
                        </div>
                        <div class="block-policy__column">
                            <div class="block-policy__title">
                                <span>4.</span>
                                Правовые основания обработки
                            </div>
                            <div class="block-policy__text">
                                <p>
                                    Оператор обрабатывает персональные данные пользователя только в случае их заполнения
                                    и/или отправки через специальные формы на сайте. Заполняя формы, пользователь
                                    выражает согласие с данной Политикой.
                                </p>
                                <p>
                                    Обезличенные данные обрабатываются, если это разрешено в настройках браузера
                                    пользователя (включено сохранение файлов «cookie» и использование JavaScript).
                                </p>
                            </div>
                        </div>
                        <div class="block-policy__column">
                            <div class="block-policy__title">
                                <span>5.</span>
                                Права пользователя
                            </div>
                            <div class="block-policy__text">
                                <p>
                                    Пользователь имеет право:<br>
                                    — Получить информацию об обработке своих персональных данных<br>
                                    — Потребовать уточнения, блокирования или уничтожения своих данных<br>
                                    — Отозвать согласие на обработку персональных данных<br>
                                    — Обжаловать действия или бездействие Оператора
                                </p>
                                <p>
                                    Для реализации прав обратитесь по адресу: mail@talmay.kz
                                </p>
                            </div>
                        </div>
                        <div class="block-policy__column">
                            <div class="block-policy__title">
                                <span>6.</span>
                                Контактная информация оператора
                            </div>
                            <div class="block-policy__text">
                                <p>
                                    ТОО «TALMAY»<br>
                                    г. Алматы, Наурызбайский р-н, ул. Жандосова 32<br>
                                    Телефон: <a href="tel:77273902077">+7 (727) 390-20-77</a><br>
                                    E-mail: <a href="mailto:mail@talmay.kz">mail@talmay.kz</a><br>
                                    Сайт: <a href="https://talmay.kz/">https://talmay.kz/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>