<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Страница Biolab Pasol 10</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <!--Хлебные крошки-->
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="home-icon">
                                    <svg aria-hidden="true" width="18" height="19">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </div>
                                <span>Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Приборы
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Вискозиметры SHELI
                            </a>
                        </li>
                        <li><span>Biolab Pasol 10</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-product-card block3">
                <div class="container">
                    <div class="block-title">
                        <div class="block-title__left">
                            <a href="./" class="back">
                                <svg aria-hidden="true" width="16" height="14">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </a>
                            <h1 class="title1">
                                Приборы по производителям
                            </h1>
                        </div>
                        <div class="block-title__filter">
                            <button type="button" class="filter-icon">
                                <svg aria-hidden="true" width="18" height="19">
                                    <use xlink:href="img/sprite.svg#oil"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="block-product-card__content">
                        <ul data-da=".block-title__filter, 992, last" data-spollers data-one-spoller
                            class="filter-spollers">
                            <li class="filter-spollers__item">
                                <button type="button" data-spoller class="filter-spollers__button">
                                    <span class="filter-spollers__title">
                                        PAMAS
                                    </span>
                                    <span class="filter-spollers__arrow">
                                        <svg aria-hidden="true" width="10" height="6">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="filter-spollers__body">
                                    <ul>
                                        <li>
                                            <a href="./">PAMAS</a>
                                        </li>
                                        <li>
                                            <a href="./">Biolab</a>
                                        </li>
                                        <li>
                                            <a href="./">DITEE</a>
                                        </li>
                                        <li>
                                            <a href="./">Sheli</a>
                                        </li>
                                        <li>
                                            <a href="./">Yateks</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="filter-spollers__item">
                                <button type="button" data-spoller class="filter-spollers__button _spoller-active">
                                    <span class="filter-spollers__title">
                                        Biolab
                                    </span>
                                    <span class="filter-spollers__arrow">
                                        <svg aria-hidden="true" width="10" height="6">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="filter-spollers__body">
                                    <ul>
                                        <li>
                                            <a href="./" class="active">Biolab Pasol 10</a>
                                        </li>
                                        <li>
                                            <a href="./">Кинематическая вязкость</a>
                                        </li>
                                        <li>
                                            <a href="./">Ферромагнитный износ</a>
                                        </li>
                                        <li>
                                            <a href="./">Класс чистоты</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="filter-spollers__item">
                                <button type="button" data-spoller class="filter-spollers__button">
                                    <span class="filter-spollers__title">
                                        DITEE
                                    </span>
                                    <span class="filter-spollers__arrow">
                                        <svg aria-hidden="true" width="10" height="6">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="filter-spollers__body">
                                    <ul>
                                        <li>
                                            <a href="./">DITEE 0A800P</a>
                                        </li>
                                        <li>
                                            <a href="./">DITEE 0A800M</a>
                                        </li>
                                        <li>
                                            <a href="./">DITEE 0A800H</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="filter-spollers__item">
                                <button type="button" data-spoller class="filter-spollers__button">
                                    <span class="filter-spollers__title">
                                        Sheli
                                    </span>
                                    <span class="filter-spollers__arrow">
                                        <svg aria-hidden="true" width="10" height="6">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="filter-spollers__body">
                                    <ul>
                                        <li>
                                            <a href="./">SHELI SL-SF03 Ultra</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="filter-spollers__item">
                                <button type="button" data-spoller class="filter-spollers__button">
                                    <span class="filter-spollers__title">
                                        Yateks
                                    </span>
                                    <span class="filter-spollers__arrow">
                                        <svg aria-hidden="true" width="10" height="6">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="filter-spollers__body">
                                    <ul>
                                        <li>
                                            <a href="./">ГОСТ</a>
                                        </li>
                                        <li>
                                            <a href="./">ASTM D</a>
                                        </li>
                                        <li>
                                            <a href="./">ISO</a>
                                        </li>
                                        <li>
                                            <a href="./">IP</a>
                                        </li>
                                        <li>
                                            <a href="./">IEC</a>
                                        </li>
                                        <li>
                                            <a href="./">SAE</a>
                                        </li>
                                        <li>
                                            <a href="./">NAS</a>
                                        </li>
                                        <li>
                                            <a href="./">GJB</a>
                                        </li>
                                        <li>
                                            <a href="./">EN</a>
                                        </li>
                                        <li>
                                            <a href="./">USP</a>
                                        </li>
                                        <li>
                                            <a href="./">TAPPI</a>
                                        </li>
                                        <li>
                                            <a href="./">NAVAIR</a>
                                        </li>
                                        <li>
                                            <a href="./">CHARN</a>
                                        </li>
                                        <li>
                                            <a href="./">DEF STAN</a>
                                        </li>
                                        <li>
                                            <a href="./">Ph. Eur</a>
                                        </li>
                                        <li>
                                            <a href="./">BP</a>
                                        </li>
                                        <li>
                                            <a href="./">KP</a>
                                        </li>
                                        <li>
                                            <a href="./">JP</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="block-product-card__body">
                            <div class="product-card-descr1">
                                <div class="images-product">
                                    <div class="images-product__swiper">
                                        <div class="images-product__slider swiper">
                                            <div class="images-product__wrapper swiper-wrapper">
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                                <a href="./" data-popup="#slider-gallery"
                                                    class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="images-product__thumbs">
                                        <div class="images-product__thumb swiper">
                                            <div class="images-product__wrapper swiper-wrapper">
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide"
                                                    data-popup="#slider-gallery">
                                                    <img src="img/products/image13.png" alt="">
                                                    <div class="images-product__number">
                                                        +5
                                                    </div>
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </div>
                                                <div class="images-product__slide swiper-slide">
                                                    <img src="img/products/image13.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button"
                                            class="nav-slider-arrow arrow-prev images-product-arrow-prev">
                                            <svg aria-hidden="true" width="19" height="11">
                                                <use xlink:href="img/sprite.svg#arrow3"></use>
                                            </svg>
                                        </button>
                                        <button type="button"
                                            class="nav-slider-arrow arrow-next images-product-arrow-next">
                                            <svg aria-hidden="true" width="19" height="11">
                                                <use xlink:href="img/sprite.svg#arrow3"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-card-descr1__body">
                                    <div class="product-card-descr1__title">
                                        Biolab Pasol 10
                                    </div>
                                    <div class="product-card-descr1__badge badge-stock">
                                        <span>Демо-прибор есть в нашей лаборатории</span>
                                    </div>
                                    <div class="product-card-descr1__text">
                                        <p>
                                            Biolab Pasol 10 - автоматический тестер окислительной стабильности масел,
                                            предназначенный для оценки устойчивости новых и отработанных масел к
                                            окислению в условиях повышенной температуры и давления кислорода. Испытания
                                            проводятся в герметичной сухой камере с использованием воды и медной
                                            катализаторной спирали при температуре 150 °C, что позволяет моделировать
                                            процессы старения смазочных материалов в реальных условиях эксплуатации.
                                        </p>
                                    </div>
                                    <div class="product-card-descr1__buttons">
                                        <a href="./" data-popup="#video-card" class="btn btn-grey btn-small">
                                            <span class="btn__arrow">
                                                <svg aria-hidden="true" width="16" height="17">
                                                    <use xlink:href="img/sprite.svg#play"></use>
                                                </svg>
                                            </span>
                                            <span>Видеообзор</span>
                                        </a>
                                        <a href="#download" download="#download" class="btn btn-grey btn-small">
                                            <span>Скачать PDF</span>
                                        </a>
                                        <a href="./" class="btn btn-red btn-small">
                                            <span>Запросить стоимость</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-benefits">
                                <ul>
                                    <li>
                                        <div class="product-card-benefits__icon">
                                            <svg aria-hidden="true" width="20" height="22">
                                                <use xlink:href="img/sprite.svg#exploitation"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Полностью автоматическая работа
                                        </p>
                                    </li>
                                    <li>
                                        <div class="product-card-benefits__icon">
                                            <svg aria-hidden="true" width="24" height="24">
                                                <use xlink:href="img/sprite.svg#sertificate"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Полный контроль с сенсорного ПК на базе Windows
                                        </p>
                                    </li>
                                    <li>
                                        <div class="product-card-benefits__icon">
                                            <svg aria-hidden="true" width="24" height="24">
                                                <use xlink:href="img/sprite.svg#sertificate"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Защита от перегрева и избыточного давления
                                        </p>
                                    </li>
                                    <li>
                                        <div class="product-card-benefits__icon">
                                            <svg aria-hidden="true" width="20" height="18">
                                                <use xlink:href="img/sprite.svg#slider2"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Компактные размеры
                                        </p>
                                    </li>
                                    <li>
                                        <div class="product-card-benefits__icon">
                                            <svg aria-hidden="true" width="16" height="20">
                                                <use xlink:href="img/sprite.svg#reestr"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Сертификат метрологической аттестации
                                        </p>
                                    </li>
                                    <li>
                                        <div class="product-card-benefits__icon">
                                            <svg aria-hidden="true" width="18" height="20">
                                                <use xlink:href="img/sprite.svg#shield"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Поставляется с первичной поверкой
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div data-tabs class="product-card-tabs">
                                <nav data-tabs-titles class="product-card-tabs__navigation">
                                    <button type="button" class="product-card-tabs__title _tab-active">
                                        <span>Описание</span>
                                    </button>
                                    <button type="button" class="product-card-tabs__title">
                                        <span>Области применения</span>
                                    </button>
                                    <button type="button" class="product-card-tabs__title">
                                        <span>Технические характеристики</span>
                                    </button>
                                </nav>
                                <div data-tabs-body class="product-card-tabs__content">
                                    <div id="tabs-descr-more" class="product-card-tabs__body">
                                        <div class="product-card-tabs__items">
                                            <div class="product-card-tabs__column">
                                                <div class="product-card-tabs__text">
                                                    <p>
                                                        Прибор применяется для оценки остаточного срока службы масла,
                                                        эффективности работы антиокислительных присадок и
                                                        прогнозирования дальнейшей эксплуатации смазочных материалов.
                                                        Полученные результаты позволяют своевременно выявлять начало
                                                        процессов окисления, оценивать деградацию присадок и принимать
                                                        обоснованные решения о замене масла или корректировке интервалов
                                                        обслуживания оборудования.
                                                    </p>
                                                    <p>
                                                        Pasol 10 применяется при испытаниях турбинных масел,
                                                        гидравлических масел, моторных масел и других смазочных
                                                        материалов.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="product-card-tabs__column">
                                                <h4 class="title4">Стандартная комплектация</h4>
                                                <div class="product-card-table">
                                                    <div class="product-card-table__item item-main">
                                                        <div class="product-card-table__title title-main">
                                                            Наименование
                                                        </div>
                                                        <div class="product-card-table__title title-main">
                                                            Количество
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Автоматический тестер окислительной стабильности с камерой
                                                            из нержавеющей стали, автоматическими регуляторами давления
                                                            и температуры, встроенной сенсорной панелью на базе MS
                                                            Windows PC и встроенной охлаждающей спиралью для быстрого
                                                            охлаждения
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            1
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Магнитный стакан для образцов
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            1
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Уплотнительное кольцо
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Антифрикционное кольцо
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            2
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Крышка камеры
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            1
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Инструменты для снятия крышки камеры и магнитного держателя
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            1
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            O-образное кольцо
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            10
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Сетевой кабель
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            1
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Предохранители
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            1
                                                        </div>
                                                    </div>
                                                    <div class="product-card-table__item">
                                                        <div class="product-card-table__title">
                                                            Руководство по эксплуатации на русском языке
                                                        </div>
                                                        <div class="product-card-table__title">
                                                            1
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card-tabs__column">
                                                <h4 class="title4">Пример отчета</h4>
                                                <div class="product-card-tabs__swiper">
                                                    <div class="product-card-tabs__slider swiper">
                                                        <div class="product-card-tabs__wrapper swiper-wrapper">
                                                            <div class="product-card-tabs__slide swiper-slide">
                                                                <img loading="lazy" src="img/photo1.png" alt="">
                                                            </div>
                                                            <div class="product-card-tabs__slide swiper-slide">
                                                                <img loading="lazy" src="img/photo1.png" alt="">
                                                            </div>
                                                            <div class="product-card-tabs__slide swiper-slide">
                                                                <img loading="lazy" src="img/photo1.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button"
                                                        class="nav-slider-arrow arrow-prev product-card-arrow-prev">
                                                        <svg aria-hidden="true" width="19" height="11">
                                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                                        </svg>
                                                    </button>
                                                    <button type="button"
                                                        class="nav-slider-arrow arrow-next product-card-arrow-next">
                                                        <svg aria-hidden="true" width="19" height="11">
                                                            <use xlink:href="img/sprite.svg#arrow3"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="product-card-tabs__slider-text">
                                                    Скрин
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card-tabs__body">
                                        Содержимое второго таба
                                    </div>
                                    <div class="product-card-tabs__body">
                                        Содержимое третьего таба
                                    </div>
                                </div>
                            </div>
                            <div class="block-interesting">
                                <div class="heading-complex">
                                    <h2 class="title4">Может быть интересно</h2>
                                    <a href="./" class="link">Все →</a>
                                </div>
                                <div class="block-interesting__cards">
                                    <div class="card-product2">
                                        <div class="card-product2__pic1">
                                            <img src="img/products/image18.png" alt="">
                                        </div>
                                        <div class="card-product2__item">
                                            <div class="card-product2__top">
                                                <div class="card-product2__title">
                                                    PAMAS SVSS
                                                </div>
                                                <p>
                                                    Прецизионный спектрометр OA800P предназначен для высокоточного
                                                    анализа эксплуатационных жидкостей
                                                </p>
                                            </div>
                                            <a href="./" target="_blank" class="link link2">
                                                <span>Подробнее</span>
                                                <svg aria-hidden="true" width="20" height="12">
                                                    <use xlink:href="img/sprite.svg#arrow3"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-product2">
                                        <div class="card-product2__pic1">
                                            <img src="img/products/image19.png" alt="">
                                        </div>
                                        <div class="card-product2__item">
                                            <div class="card-product2__top">
                                                <div class="card-product2__title">
                                                    Viscol-20AS
                                                </div>
                                                <p>
                                                    Полностью автоматизированный кинематический вискозиметр
                                                </p>
                                            </div>
                                            <a href="./" target="_blank" class="link link2">
                                                <span>Подробнее</span>
                                                <svg aria-hidden="true" width="20" height="12">
                                                    <use xlink:href="img/sprite.svg#arrow3"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-product2">
                                        <div class="card-product2__pic1">
                                            <img src="img/products/image17.png" alt="">
                                        </div>
                                        <div class="card-product2__item">
                                            <div class="card-product2__top">
                                                <div class="card-product2__title">
                                                    Viscol-10AS
                                                </div>
                                                <p>
                                                    Спектрометр OA800H анализирует эксплуатационные жидкости на
                                                    содержание продуктов износа, присадок и загрязнений
                                                </p>
                                            </div>
                                            <a href="./" target="_blank" class="link link2">
                                                <span>Подробнее</span>
                                                <svg aria-hidden="true" width="20" height="12">
                                                    <use xlink:href="img/sprite.svg#arrow3"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <!--Галерея Карточка товара-->
    <div id="slider-gallery" aria-hidden="true" class="popup popup-image popup-image-slider">
        <div class="popup__wrapper">
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="14" height="14">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup__content">
                <div class="popup-image__body">
                    <div class="images-product">
                        <div class="images-product__swiper">
                            <div class="images-product__slider swiper">
                                <div class="images-product__wrapper swiper-wrapper">
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                    <div class="images-product__slide swiper-slide">
                                        <img src="img/products/image13.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="nav-slider-arrow arrow-prev images-product-arrow-prev">
                                <svg aria-hidden="true" width="19" height="11">
                                    <use xlink:href="img/sprite.svg#arrow3"></use>
                                </svg>
                            </button>
                            <button type="button" class="nav-slider-arrow arrow-next images-product-arrow-next">
                                <svg aria-hidden="true" width="19" height="11">
                                    <use xlink:href="img/sprite.svg#arrow3"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Видео Карточка товара-->
    <div id="video-card" aria-hidden="true" class="popup popup-video">
        <div class="popup__wrapper">
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="14" height="14">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup__content">
                <div class="popup-video__body">
                    <video src="files/videos/video.mp4" preload="none" playsinline class="popup-video__video video">
                        <source loading="lazy" src="files/videos/video.mp4" type="video/mp4">
                    </video>
                    <img src="img/products/image13.png" alt="" class="popup-video__poster">
                    <div class="popup-video__play play">
                        <svg aria-hidden="true" width="26" height="27">
                            <use xlink:href="img/sprite.svg#play"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>