<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Методы тестирования</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <!--Хлебные крошки-->
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="home-icon">
                                    <svg aria-hidden="true" width="18" height="19">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </div>
                                <span>Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Лаборатория
                            </a>
                        </li>
                        <li><span>Методы тестирования</span></li>
                    </ul>
                </div>
            </div>

            <!--Заголовок Методы тестирования-->
            <div class="block-title block-title-other2 block2">
                <div class="container">
                    <div class="block-title__col">
                        <h1 class="title1">
                            Методы тестирования
                        </h1>
                        <p>
                            Лаборатория «Талмай» – современный центр исследований смазочных материалов и рабочих
                            жидкостей.<br> Передовое оборудование, адаптированное под любые виды проб – от жидких до
                            пастообразных.
                        </p>
                    </div>
                </div>
            </div>

            <!--Используемые методы тестирования-->
            <div class="block-testing-methods block3">
                <div class="container">
                    <div class="block-descr">
                        <div class="title2">Используемые методы тестирования</div>
                        <div class="block-descr__text">
                            <p>
                                19 методов · нажмите на карточку, чтобы увидеть приборы, использующие метод
                            </p>
                        </div>
                    </div>
                    <div class="block-testing-methods__body">
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Элементный анализ
                                    </div>
                                    <p>
                                        24 элемента износа и загрязнений
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">DITEE ОА800М</div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">ASTM D6595</div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">ppm (мг/кг)</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Кинематическая вязкость
                                    </div>
                                    <p>
                                        Вязкость при 100°С и 40°С, индекс вязкости
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            Biolab Viscol-10AS, SHELI SL-SV4A
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D445, ГОСТ 33
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">мм²/с; сСт</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Потенциометрическое титрование
                                    </div>
                                    <p>
                                        TBN, TAN, pH
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            Titrino Metrohm
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D2896, D664
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">мг КОН/г</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        FTIR-спектроскопия
                                    </div>
                                    <p>
                                        Окисление, нитрование, сажа, вода, топливо
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            ИнфраЛЮМ ФТ-08
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM E2412
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">Абс/см, %</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Титрование по К. Фишеру
                                    </div>
                                    <p>
                                        Содержание воды
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            Titrino Metrohm 756 KF
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D6304
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">ppm (мг/кг)</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Лазерное определение частиц
                                    </div>
                                    <p>
                                        Класс чистоты, количество частиц
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            PAMAS SBSS
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ISO 4406, NAS 1638
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">класс чистоты</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Анализ загрязнённости
                                    </div>
                                    <p>
                                        Наличие механических примесей
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            Фильтр. установка С300
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ГОСТ 6370
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">%</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Мембранная колориметрия
                                    </div>
                                    <p>
                                        Лакообразование
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            MPC-Color
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D7843
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">индекс</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Линейная вольтамперометрия
                                    </div>
                                    <p>
                                        Содержание антиоксидантов
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            Fluitec Ruler CE520
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D6971
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">%</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Характеристики вспенивания
                                    </div>
                                    <p>
                                        Вспениваемость масел
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            JF12579A
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D892, ГОСТ 32334
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">мин</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Деаэрационные свойства
                                    </div>
                                    <p>
                                        Воздухоотделение
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            JF0308A
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D342, IP 313
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">мин</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Антикоррозионные свойства
                                    </div>
                                    <p>
                                        Антикоррозионная способность
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            JF11143A
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D665, ГОСТ ISO 7120
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">—</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Тест водоотделения
                                    </div>
                                    <p>
                                        Деэмульгирующая способность
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            JF7305
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D1401, ГОСТ ISO 6614
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">—</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#video-methods" class="link link2">
                                <svg aria-hidden="true" width="24" height="24">
                                    <use xlink:href="img/sprite.svg#play2"></use>
                                </svg>
                                <span>Смотреть видео метода</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        RPVOT
                                    </div>
                                    <p>
                                        Окислительная стабильность
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            Biolab Pasol 10
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ASTM D2272
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">мин</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Crackle-тест
                                    </div>
                                    <p>
                                        Содержание воды
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            Плитка ZNCLBS1180
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            —
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">—</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Температура вспышки
                                    </div>
                                    <p>
                                        Температура вспышки
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            Анализатор закр. тигля
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            ГОСТ 6356, ISO 2719
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">°C</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Определение цвета масла
                                    </div>
                                    <p>
                                        Цветность масла
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            —
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            —
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">—</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Плотность масла
                                    </div>
                                    <p>
                                        Плотность
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            —
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            —
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">кг/м³</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                        <div class="block-testing-methods__column">
                            <div class="block-testing-methods__top">
                                <div class="block-testing-methods__titles">
                                    <div class="block-testing-methods__title">
                                        Вода по Фишеру (волюметрия)
                                    </div>
                                    <p>
                                        Содержание воды
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-testing-methods__name">Прибор</div>
                                        <div class="block-testing-methods__value">
                                            —
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Стандарт</div>
                                        <div class="block-testing-methods__value">
                                            —
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-testing-methods__name">Ед. изм.</div>
                                        <div class="block-testing-methods__value">ppm</div>
                                    </li>
                                </ul>
                            </div>
                            <a href="./" data-popup="#testing-methods" class="link link2">
                                <span>Подробнее</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        {% include 'blocks/footer.njk' %}
    </div>
    <!--Подробнее Методы тестирования-->
    <div id="testing-methods" aria-hidden="true" class="popup popup-testing-methods popup-nesting">
        <div class="popup__wrapper">
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="14" height="14">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup__content">
                <div class="popup-testing-methods__content">
                    <a href="./" data-popup="#video-methods" class="popup-video__body">
                        <img src="img/products/image13.png" alt="" class="popup-video__poster">
                        <div class="popup-video__play play">
                            <svg aria-hidden="true" width="26" height="27">
                                <use xlink:href="img/sprite.svg#play"></use>
                            </svg>
                        </div>
                    </a>
                    <div class="popup-testing-methods__body">
                        <div class="popup-testing-methods__column">
                            <div class="popup-testing-methods__item">
                                <div class="popup-testing-methods__name">Название метода</div>
                                <h2 class="title2">Элементный анализ</h2>
                            </div>
                            <div data-close class="popup__close">
                                <svg aria-hidden="true" width="14" height="14">
                                    <use xlink:href="img/sprite.svg#close"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="popup-testing-methods__column column-video">
                            <div class="popup-testing-methods__item">
                                <div class="popup-testing-methods__name">Описание</div>
                                <p>
                                    Определение металлов износа и загрязнений в отработанных маслах и гидравлических
                                    жидкостях методом атомно-эмиссионной спектрометрии с вращающимся дисковым
                                    электродом.
                                </p>
                            </div>
                            <a href="./" data-popup="#video-methods" class="popup-video__body">
                                <img src="img/products/image13.png" alt="" class="popup-video__poster">
                                <div class="popup-video__play play">
                                    <svg aria-hidden="true" width="26" height="27">
                                        <use xlink:href="img/sprite.svg#play"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="popup-testing-methods__column">
                            <div class="popup-testing-methods__item">
                                <div class="popup-testing-methods__name">Приборы, использующие метод</div>
                                <p>
                                    DITEE ОА800М
                                </p>
                            </div>
                            <div class="popup-testing-methods__item">
                                <div class="popup-testing-methods__name">Единицы измерения</div>
                                <p>
                                    ppm (мг/кг)
                                </p>
                            </div>
                        </div>
                        <div class="popup-testing-methods__column">
                            <div class="popup-testing-methods__item">
                                <div class="popup-testing-methods__name">Результат измерения</div>
                                <p>
                                    Определение элементов - Алюминий (Al); Барий (Ba); Бор (B); Ванадий (V); Железо
                                    (Fe); Кадмий (Cd); Калий (K); Кальций (Ca); Кремний (Si); Литий (Li); Магний (Mg);
                                    Марганец (Mn); Медь (Cu); Молибден (Mo); Натрий (Na); Никель (Ni); Олово (Sn);
                                    Свинец (Pb); Серебро (Ag); Сурьма (Sb); Титан (Ti); Фосфор (P); Хром (Cr); Цинк (Zn)
                                </p>
                            </div>
                        </div>
                        <div class="popup-testing-methods__column">
                            <div class="popup-testing-methods__item">
                                <div class="popup-testing-methods__name">Используется для анализа</div>
                                <p>
                                    Моторных, трансмиссионных, гидравлических, редукторных и турбинных масел, пластичной
                                    смазки
                                </p>
                            </div>
                        </div>
                        <div class="popup-testing-methods__column">
                            <div class="popup-testing-methods__item">
                                <div class="popup-testing-methods__name">Стандарт</div>
                                <p>
                                    ASTM D6595
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Видео Методы тестирования-->
    <div id="video-methods" aria-hidden="true" class="popup popup-video popup-nesting">
        <div class="popup__wrapper">
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="14" height="14">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup__content">
                <div class="popup-video__body">
                    <video src="files/videos/video.mp4" preload="none" playsinline class="popup-video__video video">
                        <source loading="lazy" src="files/videos/video.mp4" type="video/mp4">
                    </video>
                    <img src="img/products/image13.png" alt="" class="popup-video__poster">
                    <div class="popup-video__play play">
                        <svg aria-hidden="true" width="26" height="27">
                            <use xlink:href="img/sprite.svg#play"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>