body {
  color: var(--typography-primary);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 97;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

/*кнопка*/
.btn {
  width: fit-content;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 600;
  line-height: 120%;
  padding: 5px 16px;
  transition:
    background-color 0.3s,
    color 0.3s;
  &.btn-red {
    color: var(--typography-inverse);
    background-color: var(--brand-primary-new);
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--brand-primary-hovered);
      }
    }
    @media (any-hover: none) {
      &:active {
        background-color: #b43436;
      }
    }
    &:disabled {
      background-color: var(--brand-primary-disabled);
    }
  }
  &.btn-large {
    border-radius: 28px;
    font-size: 18px;
    min-height: 56px;
    @media (max-width: 550px) {
      min-height: 48px;
      font-size: 16px;
      border-radius: 24px;
    }
  }
  &.btn-small {
    min-height: 48px;
    font-size: 16px;
    border-radius: 24px;
  }
  &.btn-border {
    font-size: 18px;
    color: #ec3d3f;
    border: 1px solid #ec3d3f;
    border-radius: 30px;
    padding: 5px 20px;
    gap: 24px;
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--brand-primary-bg-hovered);
      }
    }
    @media (any-hover: none) {
      &:active {
        background-color: var(--brand-primary-bg-pressed);
      }
    }
    &:disabled {
      border: 1px solid var(--brand-primary-disabled);
      color: var(--brand-primary-disabled);
      .btn__arrow {
        svg {
          fill: var(--brand-primary-disabled);
        }
      }
    }
    &.btn-border-blue {
      color: var(--noria-primary);
      border: 1px solid var(--noria-primary);
      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(60, 88, 141, 0.12);
        }
      }
      @media (any-hover: none) {
        &:active {
          background-color: rgba(60, 88, 141, 0.12);
        }
      }
      &:disabled {
        border: 1px solid rgba(60, 88, 141, 0.08);
        color: rgba(60, 88, 141, 0.08);
        .btn__arrow {
          svg {
            fill: rgba(60, 88, 141, 0.08);
          }
        }
      }
      .btn__arrow {
        svg {
          fill: var(--noria-primary);
        }
      }
    }
    @media (max-width: 550px) {
      font-size: 16px;
      border-radius: 24px;
    }
    .btn__arrow {
      svg {
        fill: #ec3d3f;
      }
    }
  }

  // .btn__arrow

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    svg {
      fill: var(--icon-inverse);
    }
  }
}

/*контакты*/
.contacts {
  display: flex;
  flex-direction: column;
  // .contacts__phone

  &__phone {
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }

  // .contacts__email

  &__email {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--typography-secondary);
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

/*заголовки*/
.title1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: var(--typography-inverse);
  @media (max-width: 767px) {
    font-size: 30px;
  }
  @media (max-width: 550px) {
    font-size: 24px;
  }
}
.title2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 767px) {
    font-size: 22px;
    margin-bottom: 30px;
  }
  @media (max-width: 550px) {
    margin-bottom: 20px;
  }
}
.title3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.block1 {
  padding: 80px 0px;
  @media (max-width: 992px) {
    padding: 40px 0px;
  }
  @media (max-width: 550px) {
    padding: 30px 0px;
  }
}
.block2 {
  padding: 40px 0px;
  @media (max-width: 550px) {
    padding: 30px 0px;
  }
}

.heading-complex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
  @media (max-width: 992px) {
    align-items: start;
  }
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media (max-width: 550px) {
    margin-bottom: 20px;
  }
  .title2 {
    text-align: left;
    margin-bottom: 0px;
  }
  .btn {
    flex: 0 0 auto;
    gap: 11px;
    padding: 0px 17px 0px 15px;
    @media (max-width: 992px) {
      min-height: 56px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}

/*check*/
.icon-check {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-tetriary);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  @media (max-width: 767px) {
    width: 25px;
    height: 25px;
    flex: 0 0 25px;
  }
  svg {
    fill: none;
    stroke: var(--icon-secondary);
    @media (max-width: 767px) {
      width: 10px;
      height: auto;
    }
  }
  &.check-white {
    background: var(--bg-primary);
    svg {
      stroke: var(--success);
      color: var(--success);
    }
  }
}

/*социальные сети*/
.socials {
  display: flex;
  gap: 10px 20px;
  @media (max-width: 767px) {
    gap: 10px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cac9c6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--bg-secondary);
    transition: border 0.3s;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border: 1px solid var(--border);
    }
    svg {
      fill: var(--icon-secondary);
      transition: fill 0.3s;
    }
    &:hover {
      border: 1px solid var(--brand-primary-new);
      svg {
        fill: var(--brand-primary-new);
      }
    }
  }
}
