.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-primary);
    z-index: 100;
    .container {
        max-width: 1384px;
    }
    // .header__content

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 32px 0px;
        @media (max-width: 767px) {
            padding: 16px 0px;
        }
    }

    // .header__left

    &__left {
        display: flex;
        align-items: center;
        gap: 42px;
        @media (max-width: 1384px) {
            gap: 24px;
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        flex: 0 0 150px;
        width: 150px;
        height: auto;
        @media (max-width: 1384px) {
            flex: 0 0 120px;
            width: 120px;
        }
        @media (max-width: 992px) {
            flex: 0 0 150px;
            width: 150px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    // .header__right

    &__right {
        display: flex;
        align-items: center;
        gap: 24px;
        @media (max-width: 1384px) {
            gap: 16px;
        }
        @media (max-width: 992px) {
            gap: 24px;
        }
        .btn {
            @media (max-width: 1300px) {
                width: 100%;
            }
        }
        .contacts {
            @media (max-width: 767px) {
                display: none;
            }
        }
        .header-lang {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    // .header__burger

    &__burger {
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        padding: 12px 16px;
        width: 56px;
        height: 48px;
        background: var(--bg-secondary);
        svg {
            stroke: var(--icon-primary);
            color: var(--icon-primary);
            fill: none;
        }
        @media (max-width: 1300px) {
            display: flex;
        }
        @media (max-width: 767px) {
            height: 40px;
        }
    }
}

/*меню*/
.menu {
    display: flex;
    @media (max-width: 1300px) {
        flex-direction: column;
        gap: 56px;
        position: fixed;
        top: 0;
        right: -100%;
        width: 448px;
        height: 100dvh;
        background: var(--bg-tetriary);
        transition: right 0.3s;
        border-radius: 32px 0 0 32px;
        padding: 32px;
        z-index: 50;
        .menu-open & {
            right: 0;
        }
    }
    @media (max-width: 767px) {
        border-radius: 16px 0 0 16px;
        padding: 16px;
        width: 304px;
    }
    ul {
        li {
            display: flex;
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: var(--typography-primary);
                transition: color 0.3s;
                &.active {
                    pointer-events: none;
                    color: var(--brand-primary-new);
                }
                @media (any-hover: hover) {
                    &:hover {
                        color: var(--brand-primary-new);
                    }
                }
                @media (max-width: 1300px) {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 156%;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 150%;
                }
            }
        }
    }

    // .menu__body

    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 30px;
        @media (max-width: 1300px) {
            position: relative;
            flex-direction: column;
            flex-wrap: nowrap;
            z-index: 56;
            gap: 40px;
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @media (max-width: 767px) {
            gap: 32px;
        }
    }

    // .menu__title

    &__title {
        display: none;
        justify-content: space-between;
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;
        @media (max-width: 1300px) {
            display: flex;
        }
        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 127%;
            align-items: center;
        }
        .header__burger {
            width: 48px;
            background: transparent;
            border: 1px solid var(--border);
            padding: 0px 0px 0px 0px;
            @media (max-width: 767px) {
                width: 40px;
                height: 40px;
                flex: 0 0 40px;
            }
        }
    }

    // .menu__item

    &__item {
        @media (max-width: 1300px) {
            width: 100%;
            &.active {
                .menu__dropdown {
                    left: 0;
                }
                .menu__content {
                    z-index: 25;
                }
            }
        }
        @media (min-width: 1301px) {
            &:hover {
                .menu__dropdown {
                    opacity: 1;
                    pointer-events: auto;
                }
                .menu__button {
                    a {
                        color: var(--brand-primary-new);
                    }
                }
            }
        }
    }

    // .menu__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        position: relative;
        z-index: 15;
        width: 100%;
        text-align: left;
        &::after {
            content: "";
            position: absolute;
            bottom: -45px;
            left: 0;
            width: 100%;
            height: 45px;
            z-index: 2;
            @media (max-width: 1300px) {
                display: none;
            }
        }
    }

    // .menu__icon

    &__icon {
        display: none;
        flex: 0 0 28px;
        width: 28px;
        height: 28px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: var(--bg-secondary);
        svg {
            transform: rotate(-90deg);
            fill: none;
            stroke: var(--typography-primary);
            color: var(--typography-primary);
        }
        @media (max-width: 1300px) {
            display: flex;
        }
    }

    // .menu__dropdown

    &__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        border-radius: 0 0 32px 32px;
        padding: 40px 32px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        box-shadow:
            0 12px 12px 0 rgba(0, 0, 0, 0.1),
            inset 0 1px 0 0 var(--border);
        background: var(--bg-primary);
        @media (max-width: 1300px) {
            left: -100%;
            height: 100%;
            top: 0;
            border-radius: 0px;
            box-shadow: none;
            pointer-events: auto;
            opacity: 1;
            transition: left 0.3s;
            background: var(--bg-tetriary);
            padding: 0px 0px 0px 0px;
        }
        .menu__button {
            display: none;
            @media (max-width: 1300px) {
                display: flex;
                justify-content: start;
                font-weight: 600;
                font-size: 18px;
                line-height: 156%;
                color: var(--brand-primary-new);
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }

    // .menu__content

    &__content {
        max-width: 1320px;
        margin: 0 auto;
        width: 100%;
        @media (max-width: 1300px) {
            display: flex;
            background: var(--bg-tetriary);
            flex-direction: column;
            gap: 40px;
            max-width: 100%;
            margin: 0px;
            height: 100%;
            min-height: min-content;

            position: relative;
        }
        @media (max-width: 767px) {
            gap: 32px;
        }
    }

    // .menu__lists

    &__lists {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: 1300px) {
            display: flex;
            flex-direction: column;
            gap: 32px;
            background: var(--bg-tetriary);
            min-height: min-content;
            height: 100%;
        }
        @media (max-width: 767px) {
            gap: 24px;
        }
        .menu__list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @media (max-width: 1300px) {
                flex: 0 1 auto;
                height: auto;
                min-height: fit-content;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-bottom: 0px;
                @media (max-width: 1300px) {
                    display: none;
                }
                li {
                    margin-bottom: 0px;
                }
            }
        }
    }

    // .menu__list-title

    &__list-title {
        @media (min-width: 1301px) {
            font-weight: 600 !important;
            font-size: 18px !important;
            line-height: 156% !important;
        }
        @media (max-width: 1300px) {
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 150% !important;
        }
        @media (max-width: 767px) {
            font-size: 14px !important;
            line-height: 143% !important;
        }
    }

    // .menu__list

    &__list {
        @media (max-width: 1300px) {
            background: var(--bg-tetriary);
            height: 100%;
            min-height: min-content;
        }
        ul {
            display: block;
            column-count: 2;
            column-gap: 24px;
            gap: 0px;
            margin-bottom: -12px;
            flex: 0 1 auto;
            overflow-y: visible;
            overflow-x: visible;
            @media (max-width: 1300px) {
                display: flex;
                flex-direction: column;
                gap: 32px;
                margin-bottom: 0px;
            }
            @media (max-width: 767px) {
                gap: 24px;
            }
            li {
                margin-bottom: 12px;
                break-inside: avoid;
                page-break-inside: avoid;
                -webkit-column-break-inside: avoid;
                @media (max-width: 1300px) {
                    margin-bottom: 0px;
                }
                a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    @media (max-width: 767px) {
                        font-size: 14px;
                        line-height: 143%;
                    }
                }
            }
        }
    }

    // .menu__bottom

    &__bottom {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        .btn {
            width: 100%;
            justify-content: center;
            @media (max-width: 767px) {
                min-height: 48px;
            }
        }
        .header__right {
            display: flex;
            justify-content: space-between;
        }
        .contacts__phone {
            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 150%;
            }
        }
        .contacts__email {
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 143%;
            }
        }
        .header-lang__dropdown {
            top: auto;
            bottom: 100%;
            margin: 0px 0px 6px 0px;
            z-index: 55;
        }
        .contacts {
            @media (max-width: 767px) {
                display: flex;
            }
        }
        .header-lang {
            @media (max-width: 767px) {
                display: flex;
                flex: 0 0 96px;
            }
        }
        .header-lang__title {
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 143%;
            }
        }
        .header-lang__button {
            @media (max-width: 767px) {
                padding: 12px 18px;
            }
        }
        @media (max-width: 1300px) {
            display: flex;
        }
    }
}

/*выбор языка*/
.header-lang {
    position: relative;
    &.active {
        .header-lang__dropdown {
            opacity: 1;
            pointer-events: auto;
        }
    }
    // .header-lang__button

    &__button {
        background-color: var(--bg-secondary);
        border-radius: 24px;
        padding: 12px 16px;
        min-height: 48px;
        display: flex;
        align-items: center;
        gap: 12px;
        transition: background-color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #e8e7e2;
            }
        }
        &:active {
            background-color: var(--bg-secondary-pressed);
        }
    }

    // .header-lang__title

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
    }

    // .header-lang__arrow

    &__arrow {
        width: 24px;
        height: 24px;
        flex: 0 0 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            stroke: var(--typography-primary);
            fill: none;
        }
    }

    // .header-lang__dropdown

    &__dropdown {
        position: absolute;
        top: 100%;
        left: 4px;
        width: calc(100% - 8px);
        margin: 6px 0px 0px 0px;
        opacity: 0;
        pointer-events: auto;
        transition: opacity 0.3s;
        ul {
            backdrop-filter: blur(16px);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
            background: var(--color-white--700);
            border: 1px solid var(--color-white--400);
            border-radius: 30px;
            padding: 8px 6px 8px 6px;
            li {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 24px;
                    width: 100%;
                    min-height: 40px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    transition: opacity 0.3s;
                    &.active {
                        pointer-events: none;
                        background-color: rgba(171, 34, 40, 0.2);
                    }
                    @media (any-hover: hover) {
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
