.main-wrapper-outer {
  width: 100%;
  min-height: 100%;
  max-width: var(--main-outer-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 97;
    background: var(--color-black--300);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .popup-show & {
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
  .menu-open & {
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
  .filter-open & {
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      z-index: 101;
    }
  }
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 116px 0px 0px 0px;
  @media (max-width: 767px) {
    margin: 72px 0px 0px 0px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  padding: 0px 32px;
  @media (max-width: 767px) {
    padding: 0px 16px;
  }
}

.container2 {
  max-width: 1191px;
  padding: 0px 32px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 992px) {
    max-width: 100%;
  }
  @media (max-width: 767px) {
    padding: 0px 16px;
  }
}

.container3 {
  max-width: 958px;
  padding: 0px 32px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 992px) {
    max-width: 100%;
  }
  @media (max-width: 767px) {
    padding: 0px 16px;
  }
}
