body::after {
    content: "";
    background: var(--color-black--300);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    opacity: 1;
    pointer-events: auto;
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
.popup__content {
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0s;
    background: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.popup__close {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        stroke: var(--icon-primary);
        color: var(--icon-primary);
        fill: none;
    }
}

/*Форма*/
.popup-forms {
    &.popup_show {
        .popup__content {
            right: 0 !important;
        }
    }
    .popup__content {
        right: -100%;
        opacity: 1;
        pointer-events: auto;
        transition: right 0.4s;
    }
    // .popup-forms__body

    &__body {
        flex: 1 1 auto;
        border-radius: 32px 0 0 32px;
        background: var(--bg-tetriary);
        padding: 56px;
        display: flex;
        flex-direction: column;
        gap: 56px;
        width: 584px;
        .form__text {
            width: fit-content;
            font-size: 12px;
            line-height: 133%;
        }
        .form__bottom {
            align-items: center;
            .btn {
                flex: 0 0 auto;
                border-radius: 50px;
            }
        }
    }

    // .popup-forms__top

    &__top {
        display: flex;
        align-items: start;
        gap: 40px;
        justify-content: space-between;
    }

    // .popup-forms__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 12px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--typography-secondary);
        }
    }

    // .popup-forms__title

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;
    }
}

/*Галерея*/
.popup-image {
    padding: 20px 0px;
    .popup__wrapper {
        align-items: center;
        height: fit-content;
        min-height: 100%;
        justify-content: center;
    }
    .popup__content {
        background: transparent;
        justify-content: center;
        max-width: fit-content;
        padding: 0px 72px;
    }
    .popup__close {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid var(--border);
        svg {
            stroke: var(--icon-inverse);
            color: var(--icon-inverse);
        }
    }
    .images-product__slide {
        max-height: fit-content;
        &:nth-child(n + 5) {
            display: flex;
        }
    }
    // .popup-image__body

    &__body {
        border-radius: 32px;
        padding: 24px;
        background: var(--bg-tetriary);
        img {
            border-radius: 8px;
            width: 100%;
            height: auto;
        }
    }
}
.popup-image-slider {
    .popup__content {
        max-width: 968px;
    }
}
