:root {
  --container-width: 1416px;
  --container-padding: 64px;
  --color-white-solid: #fff;
  --color-grey-15: #272425;
  --color-red-40: #ab2228;
  --color-grey-85: #d9d9d9;
  --color-black--0: rgba(0, 0, 0, 0);
  --color-grey-13: #231f20;
  --color-black-solid: #000;
  --color-grey-40: #666;
  --color-grey-20: #333;
  --color-white--400: rgba(255, 255, 255, 0.4);
  --color-black--200: rgba(0, 0, 0, 0.2);
  --color-white--750: rgba(255, 255, 255, 0.75);
  --color-red-60: #f43;
  --color-white--700: rgba(255, 255, 255, 0.7);
  --color-white--600: rgba(255, 255, 255, 0.6);
  --color-red-50: #f00;
  --color-orange-58: #fdba2c;
  --color-grey-96: #f5f5f5;
  --color-grey-51: #828282;
  --color-grey-8: #151515;
  --typography-primary: #272425;
  --typography-secondary: #686666;
  --bg-primary: #fff;
  --bg-secondary: #f4f3ef;
  --typography-inverse: #fff;
  --bg-tetriary: #faf9f5;
  --brand-primary-new: #d9383a;
  --icon-inverse: #fff;
  --icon-primary: #272425;
  --icon-secondary: #686666;
  --brand-primary-hovered: #c73638;
  --brand-primary-pressed: #b53436;
  --brand-primary-disabled: #f27779;
  --success: #00ca07;
  --border: #e9e6da;
  --error: #ff4343;
  --brand-primary-20: rgba(217, 56, 58, 0.2);
  --brand-primary-10: rgba(217, 56, 58, 0.1);
  --bg-secondary-hovered: #e8e7e3;
  --bg-secondary-pressed: #dcdbd7;
  --typography-primary-disabled: #939192;
  --icon-primary-disabled: #939192;
  --border-hovered: #dfdedb;
  --border-selected: #cbcac7;
  --noria-primary: #3c588d;
  --noria-secondary: #384e78;
  --noria-tetriary: #344363;
  --color-white-solid: #fff;
  --color-blue-10: #090929;
  --color-orange-54: #ffbc16;
  --color-azure-52: #748894;
  --color-grey-15: #272727;
  --color-azure-78: #b7cbd6;
  --color-red-38: #a1212c;
  --color-cyan-28: #196578;
  --color-azure-60: #8e9ca4;
  --color-orange-46: #e8a705;
  --color-azure-27: #384954;
  --color-azure-23: #2d3e48;
  --color-azure-41: #586b78;
  --color-orange-55: #f2b827;
  --color-orange-58: #fdba2c;
  --color-cyan-89: #dde6e8;
  --brand-primary-bg-hovered: #fdf3f3;
  --brand-primary-bg-pressed: #fae5e5;
  --color-grey-97: #f2f6fc;
  --color-grey-18: #2f2f2f;
  --color-chartreuse-green-35: #57b000;
  --color-azure-35: #0155b4;
  --color-white-solid: #fff;
  --color-azure-68: #a1aabb;
  --color-grey-52: #848484;
  --color-violet-39: #732b9c;
  --color-azure-83: #cad0dc;
  --color-azure-41: #3d6492;
  --color-azure-89: #dfe2e9;
  --color-orange-48: #ee5605;
  --color-violet-35: #5c2c87;
  --color-azure-31: #006d9d;
  --color-chartreuse-green-50: #74bd40;
  --color-blue-12-0: rgba(10, 15, 51, 0);
  --color-blue-12-650: rgba(10, 15, 51, 0.65);
  --color-black--300: rgba(0, 0, 0, 0.3);
  --color-azure-30: #404b58;
  --color-azure-64: #4babfc;
  --color-azure-28: #00568d;
  --color-violet-26: #411b69;
  --color-chartreuse-green-38: #78aa17;
  --color-orange-58: #fdba2c;
  --color-white-solid: #fff;
  --color-grey-61: #9c9a9a;
  --color-white--0-20: rgba(255, 255, 255, 0);
  --color-black-solid: #000;
  --color-red-56: #ff1f1f;
  --color-grey-16: #2b2a29;
  --color-azure-43-600: rgba(0, 148, 218, 0.6);
  --color-black--350: rgba(0, 0, 0, 0.35);
  --color-black--0: rgba(0, 0, 0, 0);
  --color-azure-43: #0094da;
  --color-grey-93: #ececec;
  --color-red-53: #ee4122;
  --color-spring-green-43: #00da3d;
  --color-grey-55: #948488;
  --color-grey-53: #878787;
  --color-yellow-59: #ffdd2d;
  --color-grey-45: #727272;
  --color-grey-98: #f5f8ff;
  --color-azure-7: #041822;
  --color-green-36: #00b700;
  --color-grey-97: #eff4ff;
  --color-azure-50: #07f;
  --color-grey-95: #e3efff;
  --color-grey-95-500: rgba(227, 239, 255, 0.5);
  --color-red-61: #fb3a3a;
  --color-black--500: rgba(0, 0, 0, 0.5);
  --color-grey-82: #d1d1d1;
  --color-azure-89: #d0dff8;
  --color-grey-18: #2e2e2e;
  --color-grey-47: #777;
  --color-grey-95-200: rgba(230, 240, 255, 0.2);
  --color-grey-91: #d1e8ff;
  --color-grey-80: #ccc;
  --color-red-58: #ff2b42;
  --color-grey-69: #afafaf;
  --color-azure-11: #062433;
  --color-azure-16: #08354c;
  --color-grey-46: #757575;
  --color-red-57: #e74c3c;
  --color-black--800: rgba(0, 0, 0, 0.8);
  --color-azure-65: #4dadff;
  --color-blue-33: #424867;
  --color-azure-12: #1b1f23;
  --color-green-43: #18c139;
  --color-grey-47-120: rgba(121, 121, 121, 0.12);
  --bg-primary-70: rgba(255, 255, 255, 0.7);

  --font-family: "Aptos", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --font3: "Unbounded", sans-serif;
  --font4: "Roboto", sans-serif;
}
