/*карточка - используемые приборы*/
.card-product1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 30px;
  border-radius: 30px;
  padding: 30px 68px 30px 30px;
  background: var(--bg-tetriary);
}
@media (max-width: 767px) {
  .card-product1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    gap: 24px;
  }
}
@media (max-width: 550px) {
  .card-product1 {
    padding: 16px;
    gap: 20px;
  }
}
.card-product1__image {
  border-radius: 10px;
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .card-product1__image {
    width: 100%;
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.card-product1__image img {
  width: 100%;
  height: auto;
}
.card-product1__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.card-product1__item .link {
  margin: 14px 0px 0px 0px;
}
@media (max-width: 767px) {
  .card-product1__item .link {
    margin: 0px 0px 0px 0px;
  }
}
.card-product1__item .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-product1__item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--typography-secondary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 767px) {
  .card-product1__item p {
    -webkit-line-clamp: 4;
  }
}
@media (max-width: 550px) {
  .card-product1__item p {
    font-size: 16px;
    line-height: 150%;
  }
}
.card-product1__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  padding: 0px 50px 0px 0px;
}
@media (max-width: 767px) {
  .card-product1__title {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 550px) {
  .card-product1__title {
    font-size: 18px;
    line-height: 156%;
  }
}