/*Используемые методы тестирования*/
@media (max-width: 992px) {
  .block-testing-methods {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .block-testing-methods {
    padding: 24px 0px;
  }
}
.block-testing-methods .block-descr {
  gap: 14px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .block-testing-methods .title2 {
    font-size: 32px;
    line-height: 125%;
  }
}
@media (max-width: 767px) {
  .block-testing-methods .title2 {
    font-size: 22px;
    line-height: 127%;
  }
}
.block-testing-methods .block-descr__text p {
  font-size: 18px;
  line-height: 156%;
  color: var(--typography-secondary);
}
@media (max-width: 767px) {
  .block-testing-methods .block-descr__text p {
    font-size: 16px;
    line-height: 150%;
  }
}
.block-testing-methods__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media (max-width: 992px) {
  .block-testing-methods__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .block-testing-methods__body {
    grid-template-columns: 1fr;
  }
}
.block-testing-methods__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  border: 1px solid var(--border);
  border-radius: 24px;
  padding: 24px 20px 20px;
  background: var(--bg-tetriary);
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  .block-testing-methods__column {
    gap: 27px;
  }
}
@media (max-width: 767px) {
  .block-testing-methods__column {
    gap: 24px;
  }
}
.block-testing-methods__column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--brand-primary-new);
  height: 4px;
  width: 100%;
}
.block-testing-methods__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.block-testing-methods__top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.block-testing-methods__top ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.block-testing-methods__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  padding: 0px 0px 16px 0px;
  border-bottom: 1px solid var(--border);
}
.block-testing-methods__titles p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--typography-secondary);
}
@media (max-width: 550px) {
  .block-testing-methods__titles p {
    font-size: 14px;
    line-height: 143%;
  }
}
.block-testing-methods__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
}
@media (max-width: 550px) {
  .block-testing-methods__title {
    font-size: 16px;
    line-height: 150%;
  }
}
.block-testing-methods__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.5%;
          flex: 0 0 24.5%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .block-testing-methods__name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
  }
}
@media (max-width: 550px) {
  .block-testing-methods__name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    font-size: 14px;
    line-height: 143%;
  }
}
.block-testing-methods__value {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--typography-secondary);
}
@media (max-width: 550px) {
  .block-testing-methods__value {
    font-size: 14px;
    line-height: 143%;
  }
}

/*Попап*/
.popup-testing-methods {
  padding: 111px 80px;
}
@media (max-width: 1200px) {
  .popup-testing-methods {
    padding: 44px 80px 0px 80px;
  }
}
@media (max-width: 767px) {
  .popup-testing-methods {
    padding: 20px 80px 0px 80px;
  }
}
@media (max-width: 767px) {
  .popup-testing-methods {
    padding: 20px 0px 0px 0px;
  }
}
.popup-testing-methods .popup__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .popup-testing-methods .popup__wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.popup-testing-methods .popup__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  max-width: 1114px;
  background: var(--bg-primary);
  border-radius: 32px;
  padding: 32px;
}
@media (max-width: 1200px) {
  .popup-testing-methods .popup__content {
    width: 100%;
    max-width: 864px;
    right: auto;
    top: auto;
    bottom: -100%;
    -webkit-transition: bottom 0.4s;
    transition: bottom 0.4s;
    border-radius: 32px 32px 0px 0px;
  }
}
@media (max-width: 767px) {
  .popup-testing-methods .popup__content {
    border-radius: 16px 16px 0 0;
    padding: 16px;
  }
}
.popup-testing-methods .popup__close {
  position: absolute;
  top: 32px;
  right: 32px;
  border: 1px solid var(--border);
}
@media (max-width: 1200px) {
  .popup-testing-methods .popup__close {
    display: none;
    position: relative;
    top: 0;
    right: 0;
  }
}
.popup-testing-methods .popup__close svg {
  stroke: var(--icon-inverse);
  color: var(--icon-inverse);
}
@media (max-width: 1200px) {
  .popup-testing-methods .popup__close svg {
    stroke: var(--icon-primary);
    color: var(--icon-primary);
  }
}
.popup-testing-methods__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 32px;
}
.popup-testing-methods__content .popup-video__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  height: 480px;
}
@media (max-width: 1200px) {
  .popup-testing-methods__content .popup-video__body {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 240px;
            flex: 0 0 240px;
    height: 135px;
  }
}
@media (max-width: 650px) {
  .popup-testing-methods__content .popup-video__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 185px;
            flex: 0 0 185px;
    height: 185px;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .popup-testing-methods__content .popup-video__body .play {
    width: 56px;
    height: 56px;
  }
}
.popup-testing-methods__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.popup-testing-methods__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 992px) {
  .popup-testing-methods__column {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .popup-testing-methods__column {
    gap: 10px 32px;
  }
}
.popup-testing-methods__column.column-video {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 650px) {
  .popup-testing-methods__column.column-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.popup-testing-methods__column .popup__close {
  display: none;
}
@media (max-width: 1200px) {
  .popup-testing-methods__column .popup__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.popup-testing-methods__column .popup-video__body {
  display: none;
}
@media (max-width: 1200px) {
  .popup-testing-methods__column .popup-video__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.popup-testing-methods__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 32px);
          flex: 1 1 calc(50% - 32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.popup-testing-methods__item .title2 {
  text-align: left;
  margin: 0px 0px 0px 0px;
}
.popup-testing-methods__item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}
@media (max-width: 767px) {
  .popup-testing-methods__item p {
    font-size: 16px;
    line-height: 150%;
  }
}
.popup-testing-methods__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--typography-secondary);
}
@media (max-width: 767px) {
  .popup-testing-methods__name {
    font-size: 10px;
    line-height: 120%;
  }
}